/* colors */
/* End of colors */
body {
  overflow-x: hidden;
}

/* header */
/* new header design */
.header-root .header-div {
  min-height: 100px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-root .header-div .logo-div {
  min-height: 100px;
}

.header-root .header-div .nav-center-div {
  min-height: 100px;
}

.header-root .header-div .ullist-inline li {
  font-size: 16px;
  text-transform: none;
  margin: 0 45px 0 0;
}

.header-root .header-div .ullist-inline li:last-child {
  margin: 0 0px 0 0;
}

.header-root .header-div .nav-link.btn-sign-up {
  margin: 0;
  padding: 0;
  color: #0054D5;
  font-weight: 800;
}

.header-root .header-div .btn-common.btn-sign-in {
  font-weight: 800;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-root .header-div .btn-common.btn-sign-in:hover, .header-root .header-div .btn-common.btn-sign-in:focus {
  color: #FFFFFF;
}

.header-root .header-div .btn-common.btn-sign-in:hover::before, .header-root .header-div .btn-common.btn-sign-in:hover::after, .header-root .header-div .btn-common.btn-sign-in:focus::before, .header-root .header-div .btn-common.btn-sign-in:focus::after {
  display: none;
}

.header-root .header-div .center-v-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header-root .header-div span.center-v-text {
  font-weight: 700;
  font-size: 16px;
  color: #343333;
  letter-spacing: 0;
  text-align: center;
}

.header-root .header-div.header-bgcolor {
  padding: 0;
  margin: 0;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  min-height: 75px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-root .header-div.header-bgcolor .logo-div {
  min-height: 75px;
}

.header-root .header-div.header-bgcolor .nav-center-div {
  min-height: 75px;
  padding: 10px 0px 10px 0px;
}

/* End of new header design */
/* End of header */
.btn.white-btn {
  padding: 12px 50px 10px 50px;
  margin: 0;
  min-height: 70px;
  border-radius: 100px;
  font-size: 24px;
  line-height: 32px;
  color: #0054D5;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background-color: #ffffff;
}

.btn.white-btn:hover, .btn.white-btn:focus, .btn.white-btn:active {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  color: #0054D5;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-store {
  padding: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-arrow-link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #2C2E30;
  font-weight: 600;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-arrow-link .material-icons {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-arrow-link:hover, .btn-arrow-link:focus, .btn-arrow-link:active {
  color: #0054D5;
}

.mr-30 {
  margin-right: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.minus-t-100 {
  margin-top: -100px !important;
}

.main-middle-area-home {
  padding: 100px 0 0 0;
}

.header-common-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.header-common-div h5 {
  padding: 0;
  margin: 0 0 20px 0;
  color: #222222;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.header-common-div h3 {
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.header-common-div .span-block {
  display: block;
}

.header-left-common-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.header-left-common-div h6 {
  padding: 0;
  margin: 0 0 10px 0;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.header-left-common-div h3 {
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.header-left-common-div .span-block {
  display: block;
}

.mr-8px {
  margin-right: 8px !important;
}

/* banner */
.landing-root {
  min-height: 100vh;
  margin: 0;
  position: relative;
  background: url(../images/background-shape.svg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0 0 80px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-section .banner-div .content-banner {
  padding: 0;
  margin: -65px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-section .banner-div .content-banner .text-content {
  max-width: 100%;
  padding: 0 25px;
}

.banner-section .banner-div .content-banner h1 {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 52px;
  font-weight: 800;
  font-size: 42px;
  color: #333333;
  letter-spacing: 0;
  text-align: center;
}

.banner-section .banner-div .content-banner p {
  padding: 0;
  margin: 0 auto 20px auto;
  font-weight: 300;
  font-size: 24px;
  color: #333333;
  letter-spacing: -0.3px;
  text-align: center;
  line-height: 34px;
  width: 90%;
}

.banner-section .banner-div .content-banner .span-block {
  display: block;
}

.banner-section .banner-div .text-content-center {
  max-width: 900px;
  width: 100%;
  background-color: #F1FAFF;
  position: relative;
  padding: 40px 40px 0 40px;
}

.banner-section .banner-div .scroll-down-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 -23px 0;
}

.banner-section .banner-div .scroll-down-link .btn-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-section .banner-div .scroll-down-link .btn-scroll .img-scroll {
  width: 56px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner-section .banner-inner-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-inner-div .banner-image-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-inner-div .banner-image-div .img-fluid-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-section .banner-inner-div .banner-image-div .img-banner {
  min-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* End of banner */
.info-content-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.info-content-section .info-content-div {
  padding: 80px 0 150px 0;
  margin: 0;
  position: relative;
}

.info-text-content-div {
  padding: 20px 0;
  margin: 0;
  position: relative;
}

.info-text-content-div .info-text-content-inner-div {
  max-width: 465px;
}

.info-text-content-div h5 {
  font-weight: 300;
  font-size: 16px;
  color: #343333;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
}

.info-text-content-div h2 {
  font-weight: 700;
  font-size: 34px;
  color: #343333;
  letter-spacing: 0;
  line-height: 42px;
  margin: 0 0 25px 0;
  padding: 0;
  display: block;
}

.info-text-content-div p {
  font-weight: 300;
  font-size: 16px;
  color: #343333;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
}

.info-text-content-div .text-div {
  margin: 0 0 30px 0;
}

.info-text-content-div .button-group-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-text-content-div .btn-register-now {
  min-width: 230px;
}

.thumb-image-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.thumb-image-root .img-cover-inner {
  width: 100%;
}

.footer-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-root .footer-inner-group {
  padding: 35px 0 20px 0;
  margin: 0;
  position: relative;
  border-top: 1px solid rgba(13, 13, 15, 0.6);
}

.footer-root .footer-inner-group:after {
  content: "";
  border-bottom: 1px solid rgba(13, 13, 15, 0.6);
  width: 100px;
  height: 1px;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  left: calc(50% - 50px);
  bottom: -33px;
}

.footer-root .footer-inner-group p {
  font-weight: 300;
  font-size: 22px;
  color: #0D0D0F;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 5px 0;
}

.footer-root .footer-inner-group .link-a {
  color: inherit;
}

.footer-root .footer-inner-group .bold {
  font-weight: 700;
}

.footer-root .footer-inner-group ul {
  list-style: none;
}

.footer-root .footer-inner-group .footer-copyright {
  padding: 0;
  margin: 0 0 30px 0;
}

.footer-root .footer-inner-group .link-bottom-group {
  padding: 0;
  margin: 0 0 20px 0;
}

.footer-root .footer-inner-group .footer-bottom {
  padding: 0;
  margin: 0 0 10px 0;
}

.footer-root .footer-inner-group .footer-link-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-root .footer-inner-group .footer-link-div ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.footer-root .footer-inner-group .footer-link-div ul li {
  position: relative;
}

.footer-root .footer-inner-group .footer-link-div ul li:before {
  content: "/";
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 2px;
}

.footer-root .footer-inner-group .footer-link-div ul li:first-child:before {
  content: "";
}

.footer-root .footer-inner-group .btn-link-footer {
  font-weight: 300;
  font-size: 18px;
  color: #0D0D0F;
  letter-spacing: 0;
  text-align: center;
  padding: 0 15px;
  margin: 0 0 10px 0;
  display: inline-block;
}

.footer-root .footer-inner-group .btn-link-footer:hover, .footer-root .footer-inner-group .btn-link-footer:focus {
  color: #0054D5;
}

.footer-root .footer-inner-group .social-list-div ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.footer-root .footer-inner-group .social-list-div ul li {
  position: relative;
  margin: 0 15px 0 0;
}

.footer-root .footer-inner-group .social-list-div ul li:last-child {
  margin: 0 0px 0 0;
}

.footer-root .footer-inner-group .btn-round-link {
  padding: 0;
  margin: 0 0 5px 0;
  background-color: #252627;
  border: 3px solid #252627;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 100%;
  font-size: 12px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-root .footer-inner-group .btn-round-link:hover, .footer-root .footer-inner-group .btn-round-link:focus {
  background-color: #0054D5;
  border: 3px solid rgba(210, 233, 246, 0.58);
}

@media (max-width: 767px) {
  .btn.white-btn {
    padding: 10px 20px 8px 20px;
    min-height: auto;
    border-radius: 100px;
    font-size: 16px;
    line-height: 28px;
  }
  .header-common-div.minus-t-100 {
    margin: 0 0 40px 0 !important;
  }
  .video-content-section .video-content-div {
    padding: 30px 0 50px 0;
  }
  .footer-list-root {
    margin: 0 0 30px 0;
  }
  /* new header design */
  header .header-div .ullist-inline li .nav-link {
    color: #0054D5;
  }
  header .header-div .nav {
    padding: 0 15px;
  }
  header .header-div .ullist-inline li .nav-link {
    text-align: center;
  }
  .header-root .header-div {
    min-height: 70px;
  }
  .header-root .header-div .logo-div {
    min-height: 70px;
  }
  .header-root .header-div .nav-center-div {
    min-height: 70px;
  }
  .header-root .header-div .ullist-inline li {
    margin: 0 0px 0 0;
  }
  .header-root .header-div .ullist-inline li:last-child {
    margin: 0 0px 0 0;
  }
  .header-root .header-div .center-v-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 25px 0;
  }
  .header-root .header-div .center-v-text span.text-span {
    display: block;
    margin: 0 0 10px 0;
  }
  /* End of new header design */
  .main-middle-area-home {
    padding: 70px 0 0 0;
  }
  .banner-section .banner-inner-div {
    padding: 10px 0 0 0;
  }
  .banner-section .banner-inner-div .banner-image-div .img-banner {
    min-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner-section .banner-div {
    margin: 0 0 40px 0;
  }
  .banner-section .banner-div .text-content-center {
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .banner-section .banner-div .content-banner {
    margin: 0px 0 0 0;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 28px;
    line-height: 34px;
    padding: 20px 0 !important;
    margin: 0;
  }
  .banner-section .banner-div .content-banner h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .banner-section .banner-div .content-banner p {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  .banner-section .banner-div .scroll-down-link {
    margin: 0 0 -21px 0;
  }
  .banner-section .banner-div .scroll-down-link .btn-scroll .img-scroll {
    width: 42px;
    height: 42px;
  }
  .info-content-section .info-content-div {
    padding: 70px 0 80px 0;
  }
  .info-text-content-div {
    margin: 0 0 30px 0;
  }
  .info-text-content-div h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 20px 0;
  }
  .info-text-content-div h5 {
    font-size: 14px;
    line-height: 22px;
  }
  .info-text-content-div p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 20px 0;
  }
  .footer-root .footer-inner-group p {
    font-size: 16px;
  }
  .footer-root .footer-inner-group .btn-link-footer {
    font-size: 14px;
    padding: 0 10px 0 15px;
    margin: 0 0 10px 0;
  }
  .footer-root .footer-inner-group .footer-link-div ul li:before {
    top: 1px;
    font-size: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn.white-btn {
    padding: 10px 20px 8px 20px;
    min-height: auto;
    border-radius: 100px;
    font-size: 16px;
    line-height: 28px;
  }
  .header-common-div.minus-t-100 {
    margin: 0 0 40px 0 !important;
  }
  .header-left-common-div h3 {
    font-size: 20px;
    line-height: 28px;
  }
  /* new header design */
  header .header-div .ullist-inline li .nav-link {
    color: #0054D5;
  }
  header .header-div .nav {
    padding: 0 15px;
  }
  header .header-div .ullist-inline li .nav-link {
    text-align: center;
  }
  .header-root .header-div {
    min-height: 70px;
  }
  .header-root .header-div .logo-div {
    min-height: 70px;
  }
  .header-root .header-div .nav-center-div {
    min-height: 70px;
  }
  .header-root .header-div .ullist-inline li {
    margin: 0 0px 0 0;
  }
  .header-root .header-div .ullist-inline li:last-child {
    margin: 0 0px 0 0;
  }
  .header-root .header-div .center-v-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 25px 0;
  }
  .header-root .header-div .center-v-text span.text-span {
    display: block;
    margin: 0 0 10px 0;
  }
  /* End of new header design */
  .main-middle-area-home {
    padding: 70px 0 0 0;
  }
  .banner-section .banner-inner-div {
    padding: 10px 0 0 0;
  }
  .banner-section .banner-inner-div .banner-image-div .img-banner {
    min-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner-section .banner-div {
    margin: 0 0 50px 0;
  }
  .banner-section .banner-div .text-content-center {
    max-width: 550px;
    padding: 20px 20px 0 20px;
  }
  .banner-section .banner-div .content-banner {
    margin: -45px 0 0 0;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 28px;
    line-height: 34px;
    padding: 20px 0 !important;
    margin: 0;
  }
  .banner-section .banner-div .content-banner h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .banner-section .banner-div .content-banner p {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  .banner-section .banner-div .scroll-down-link {
    margin: 0 0 -21px 0;
  }
  .banner-section .banner-div .scroll-down-link .btn-scroll .img-scroll {
    width: 42px;
    height: 42px;
  }
  .info-content-section .info-content-div {
    padding: 40px 0 80px 0;
  }
  .info-text-content-div {
    margin: 0 0 30px 0;
  }
  .info-text-content-div h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 20px 0;
  }
  .info-text-content-div h5 {
    font-size: 14px;
    line-height: 22px;
  }
  .info-text-content-div p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 20px 0;
  }
  .footer-root .footer-inner-group p {
    font-size: 16px;
  }
  .footer-root .footer-inner-group .btn-link-footer {
    font-size: 14px;
    padding: 0 10px 0 15px;
    margin: 0 0 10px 0;
  }
  .footer-root .footer-inner-group .footer-link-div ul li:before {
    top: 1px;
    font-size: 90%;
  }
}
/*# sourceMappingURL=common.css.map */