/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$link-hover:#0054D5;

$blue-color: #0054D5;
$lightblue-color: rgba(39, 164, 248, 0.5);
$lightblue-color2: rgba(39, 164, 248, 0.3);

$darkblue-color: #0C406B;

$color1: #979797;
$light-color1: rgba(60, 69, 76, 0.5);

$primary-color:#0054D5;

$sub-color1:#6E84A3;
$sub-color2:#285B89;
$sub-color3:#D9EFFF;
$sub-color4:#222D39;

/* End of colors */

body{ overflow-x: hidden; }

/* header */

/* new header design */

.header-root{
    .header-div{ min-height: 100px; background: transparent; box-shadow: none;
        .logo-div{ min-height: 100px; }
        .nav-center-div{ min-height: 100px; }

        .ullist-inline{
            li{ font-size: 16px; text-transform: none; margin: 0 45px 0 0; 
                &:last-child{ margin: 0 0px 0 0;  }
            }
        } 

        .nav-link.btn-sign-up { margin: 0; padding: 0; color: #0054D5; font-weight: 800; }
        .btn-common.btn-sign-in { font-weight: 800; color: #FFFFFF; letter-spacing: 0; text-align: center; padding: 0 30px; display: flex; 
            &:hover, &:focus{ color: #FFFFFF;
                &::before, &::after{ display: none; }
            }
        }

        .center-v-text { display: flex; align-items: center; padding: 0; }    
        span.center-v-text { font-weight: 700; font-size: 16px; color: #343333; letter-spacing: 0; text-align: center; }

    }

    .header-div.header-bgcolor { 
        padding: 0; margin: 0; background-color: #fff; position: fixed; z-index: 99999; width: 100%; min-height: 75px; transition: all 0.5s; top: 0; left: 0; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        .logo-div{ min-height: 75px; }
        .nav-center-div{ min-height: 75px; padding: 10px 0px 10px 0px; }

    } 
}

/* End of new header design */

/* End of header */

.btn.white-btn {
    padding: 12px 50px 10px 50px; margin: 0; min-height: 70px; border-radius: 100px; font-size: 24px; line-height: 32px; color: #0054D5; font-weight: 600; display: flex; align-items: center; transition: all 0.8s; background-color: #ffffff;
    &:hover, &:focus, &:active{ box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); color: #0054D5; transform: translateY(-2px); }
}
.btn.btn-store { padding: 0; transition: all 0.8s; }

.btn-arrow-link {
    padding: 0; margin: 0; font-size: 18px; color: #2C2E30; font-weight: 600; line-height: 30px; display: flex; align-items: center;
    .material-icons{ transform: rotate(180deg); }
    &:hover, &:focus, &:active{ color: #0054D5;  }
}

.mr-30{ margin-right: 30px; }
.mt-20{ margin-top: 20px; }
.mr-10{ margin-right: 10px; }
.mb-40{ margin-bottom: 40px !important; }
.minus-t-100{ margin-top: -100px !important; }

.main-middle-area-home{ padding: 100px 0 0 0; }

.header-common-div{
    padding: 0; margin: 0 0 30px 0; position: relative;
    h5 { padding: 0; margin: 0 0 20px 0; color: #222222; font-size: 18px; font-weight: 300; text-align: center; }
    h3 { padding: 0; margin: 0; color: #222222; font-size: 24px; line-height: 36px; font-weight: 700; text-align: center; }
    .span-block{ display: block; }
}

.header-left-common-div{
    padding: 0; margin: 0 0 30px 0; position: relative;
    h6 { padding: 0; margin: 0 0 10px 0; color: #222222; font-size: 14px; font-weight: 300; text-align: left; }
    h3 { padding: 0; margin: 0; color: #222222; font-size: 24px; line-height: 36px; font-weight: 700; text-align: left; }
    .span-block{ display: block; }
}

.mr-8px{ margin-right: 8px !important; }



/* banner */

.landing-root {
    min-height: 100vh; margin: 0; position: relative; background: url(../images/background-shape.svg) no-repeat; background-size: cover; background-position: center; background-attachment: fixed;
}

.banner-section{  
    padding: 0; margin: 0; position: relative; 
    
    .banner-div{ 
        padding: 0; margin: 0 0 80px 0; position: relative; display: flex; align-items: center; flex-wrap: wrap; flex-direction: column;
        
        .content-banner{ 
            padding: 0; margin: -65px 0 0 0; display: flex; align-items: center; justify-content: center; position: relative; width: 100%; height: 100%;
            .text-content{ max-width: 100%; padding: 0 25px; }
            h1{ padding: 0; margin: 0 0 20px 0; line-height: 52px; font-weight: 800; font-size: 42px; color: #333333; letter-spacing: 0; text-align: center; }
            p{ padding: 0; margin: 0 auto 20px auto; font-weight: 300; font-size: 24px; color: #333333; letter-spacing: -0.3px; text-align: center; line-height: 34px; width: 90%; }
            .span-block{ display: block; }
        }

        .text-content-center { max-width: 900px; width: 100%; background-color: #F1FAFF; position: relative; padding: 40px 40px 0 40px; }

        .scroll-down-link {
            display: flex; justify-content: center; align-items: center; margin: 0 0 -23px 0;
            .btn-scroll { display: flex; align-items: center; 
                .img-scroll { width: 56px; height: 56px; object-fit: contain; }
            }
        }

    }

    .banner-inner-div{
        padding: 0; margin: 0; position: relative;

        .banner-image-div{
            padding: 0; margin: 0; position: relative;
            .img-fluid-thumb { display: flex; align-items: center; flex-direction: column; }
            .img-banner { min-height: 500px; object-fit: cover; }
        }



    }

}

/* End of banner */

.info-content-section{  
    padding: 0; margin: 0; position: relative; 
    .info-content-div{
        padding: 80px 0 150px 0; margin: 0; position: relative; 
    }
}

.info-text-content-div{
    padding: 20px 0; margin: 0; position: relative; 

    .info-text-content-inner-div { max-width: 465px; }

    h5 { font-weight: 300; font-size: 16px; color: #343333; letter-spacing: 0; padding: 0; margin: 0 0 10px 0; display: block; }
    h2 { font-weight: 700; font-size: 34px; color: #343333; letter-spacing: 0; line-height: 42px; margin: 0 0 25px 0; padding: 0; display: block; }
    p { font-weight: 300; font-size: 16px; color: #343333; letter-spacing: 0; line-height: 26px; margin: 0 0 20px 0; padding: 0; display: block; }

    .text-div { margin: 0 0 30px 0; }
    .button-group-div { display: flex; }

    .btn-register-now { min-width: 230px; }

}

.thumb-image-root{
    padding: 0; margin: 0; position: relative; 
    .img-cover-inner{ width: 100%; }
}



.footer-root{
    padding: 0; margin: 0; position: relative;

    .footer-inner-group { padding: 35px 0 20px 0; margin: 0; position: relative; border-top: 1px solid rgba(13, 13, 15, 0.6); 
        &:after{  content: ""; border-bottom: 1px solid rgba(13, 13, 15, 0.6); width: 100px; height: 1px; display: inline-block; position: relative; margin: 0 auto; left: calc(50% - 50px); bottom: -33px;  }

        p { font-weight: 300; font-size: 22px; color: #0D0D0F; letter-spacing: 0; text-align: center; margin: 0 0 5px 0; }

        .link-a { color: inherit; }
        .bold { font-weight: 700; }

        ul{ list-style: none; }

        .footer-copyright{ padding: 0; margin: 0 0 30px 0; }
        .link-bottom-group{ padding: 0; margin: 0 0 20px 0; }
        .footer-bottom { padding: 0; margin: 0 0 10px 0; }

        .footer-link-div{ padding: 0; margin: 0; position: relative; 
            ul{ list-style: none; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;  position: relative; 
                li{ position: relative;
                    &:before{ content: "/"; padding: 0; margin: 0; position: absolute; left: 0; top: 2px; } 
                    &:first-child{  
                        &:before{ content: "";  }
                    }
                }
            }
        }

        .btn-link-footer { font-weight: 300; font-size: 18px; color: #0D0D0F; letter-spacing: 0; text-align: center; padding: 0 15px; margin: 0 0 10px 0; display: inline-block;
            &:hover, &:focus { color: #0054D5; }
        }

        .social-list-div{
            ul{ list-style: none; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;  position: relative; 
                li{ position: relative; margin: 0 15px 0 0;
                    &:last-child{ margin: 0 0px 0 0; }
                }
            }
        }

        .btn-round-link { 
            padding: 0; margin: 0 0 5px 0; background-color: #252627; border: 3px solid #252627; height: 28px; width: 28px; display: flex; align-items: center; justify-content: center; color: #fff; border-radius: 100%; font-size: 12px; transition: all 0.8s;
            &:hover, &:focus { background-color: #0054D5; border: 3px solid rgba(210,233,246,0.58); }
        }

    }

}

@media (max-width: 767px) {

    .btn.white-btn { padding: 10px 20px 8px 20px; min-height: auto; border-radius: 100px; font-size: 16px; line-height: 28px; }

    

    .header-common-div.minus-t-100 { margin: 0 0 40px 0 !important; }
    
    .video-content-section .video-content-div { padding: 30px 0 50px 0; }

    .footer-list-root { margin: 0 0 30px 0; }
    

  
    
    /* new header design */

    header .header-div .ullist-inline li .nav-link{ color: #0054D5 ; }
    header .header-div .nav { padding: 0 15px; }
    header .header-div .ullist-inline li .nav-link { text-align: center; }

    .header-root{
        .header-div{ min-height: 70px; 
            .logo-div{ min-height: 70px; }
            .nav-center-div{ min-height: 70px; }
            
            .ullist-inline{
                li{  margin: 0 0px 0 0; 
                    &:last-child{ margin: 0 0px 0 0;  }
                }
            } 

            .center-v-text { flex-direction: column; justify-content: center; margin: 20px 0 25px 0; 
                span.text-span { display: block; margin: 0 0 10px 0; }
            }    

        }
    }

    /* End of new header design */

    .main-middle-area-home {
        padding: 70px 0 0 0;
    }

    .banner-section {

        .banner-inner-div {
            padding: 10px 0 0 0;
            .banner-image-div {
                .img-banner { min-height: 250px; object-fit: cover; }
            }
        }
    
        .banner-div { margin: 0 0 40px 0;
            .text-content-center { width: 100%; padding: 20px 20px 0 20px; }

            .content-banner {   
                margin: 0px 0 0 0;
                h1 { font-size: 28px; line-height: 34px; padding: 20px 0 !important; margin: 0;  }
                h4 { font-size: 18px; line-height: 26px; }
                p { font-size: 16px; line-height: 24px; width: 100%; }

            }

            .scroll-down-link { margin: 0 0 -21px 0;
                .btn-scroll {
                    .img-scroll { width: 42px; height: 42px; }
                }
            }
        
            
        }

        
    }

    
    .info-content-section {
        .info-content-div {
            padding: 70px 0 80px 0;
            
        }
    }

    .info-text-content-div { margin: 0 0 30px 0;
        h2 { font-size: 24px; line-height: 32px; margin: 0 0 20px 0; }
        h5 { font-size: 14px; line-height: 22px; }
        p { font-size: 14px; line-height: 22px; margin: 0 0 20px 0; }
    }
    
    .footer-root {
        .footer-inner-group {
            p { font-size: 16px; }
            .btn-link-footer { font-size: 14px; padding: 0 10px 0 15px; margin: 0 0 10px 0; }
            .footer-link-div {
                ul {
                    li {
                        &:before {
                            top: 1px;
                            font-size: 90%;
                        }
                    }
                }
            }
        }
    }
    


}

@media (min-width: 1025px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .btn.white-btn { padding: 10px 20px 8px 20px; min-height: auto; border-radius: 100px; font-size: 16px; line-height: 28px; }

    .header-common-div.minus-t-100 { margin: 0 0 40px 0 !important; }
    
    .header-left-common-div {
        h3 {
            font-size: 20px;
            line-height: 28px;
        }
    }
   
    /* new header design */

    header .header-div .ullist-inline li .nav-link{ color: #0054D5 ; }
    header .header-div .nav { padding: 0 15px; }
    header .header-div .ullist-inline li .nav-link { text-align: center; }

    .header-root{
        .header-div{ min-height: 70px; 
            .logo-div{ min-height: 70px; }
            .nav-center-div{ min-height: 70px; }
            
            .ullist-inline{
                li{  margin: 0 0px 0 0; 
                    &:last-child{ margin: 0 0px 0 0;  }
                }
            } 

            .center-v-text { flex-direction: column; justify-content: center; margin: 20px 0 25px 0; 
                span.text-span { display: block; margin: 0 0 10px 0; }
            }    

        }
    }

    /* End of new header design */

    .main-middle-area-home {
        padding: 70px 0 0 0;
    }

    .banner-section {

        .banner-inner-div {
            padding: 10px 0 0 0;
            .banner-image-div {
                .img-banner { min-height: 250px; object-fit: cover; }
            }
        }
    
        .banner-div { margin: 0 0 50px 0;
            .text-content-center { max-width: 550px; padding: 20px 20px 0 20px; }

            .content-banner {   
                margin: -45px 0 0 0;
                h1 { font-size: 28px; line-height: 34px; padding: 20px 0 !important; margin: 0;  }
                h4 { font-size: 18px; line-height: 26px; }
                p { font-size: 16px; line-height: 24px; width: 100%; }

            }

            .scroll-down-link { margin: 0 0 -21px 0;
                .btn-scroll {
                    .img-scroll { width: 42px; height: 42px; }
                }
            }
        
            
        }

        
    }

    
    .info-content-section {
        .info-content-div {
            padding: 40px 0 80px 0;
            
        }
    }

    .info-text-content-div { margin: 0 0 30px 0;
        h2 { font-size: 24px; line-height: 32px; margin: 0 0 20px 0; }
        h5 { font-size: 14px; line-height: 22px; }
        p { font-size: 14px; line-height: 22px; margin: 0 0 20px 0; }
    }
    
    .footer-root {
        .footer-inner-group {
            p { font-size: 16px; }
            .btn-link-footer { font-size: 14px; padding: 0 10px 0 15px; margin: 0 0 10px 0; }
            .footer-link-div {
                ul {
                    li {
                        &:before {
                            top: 1px;
                            font-size: 90%;
                        }
                    }
                }
            }
        }
    }


}

@media (min-width: 1024px) and (max-width: 1366px) {

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}

@media (min-width: 1025px) and (max-width: 1290px) {

}