@charset "utf-8";
@import url(animate.min.css);
@import url(jquery.dataTables.min.css);
@import url(dataTables.bootstrap4.min.css);

/*   colors   */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$light-black-color:rgba(0, 0, 0, 0.5);

$text-black: #282D30;
$text-grey: #727272;

$blue-color: #2A42E1;

$sub-color1: #FAFBFD;
$sub-color2: #424242;
$sub-color3: #222221;

/*   End of colors   */

/*** General css ***/

.container-1000 { max-width: 1140px; }

.btn{ 
    &:focus, &:active{ box-shadow: none; } 
}

.btn-achieved{    background: $blue-color; border-radius: 0 0 6px 6px; width: 100%; min-height: 40px; font-weight: 500; font-size: 14px; color: $white-color; text-align: center; line-height: 22px; transition: all 0.8s; }
.btn.btn-accept { padding: 5px 10px;background: #6DD400; border-radius: 6px; font-size: 12px; color: #FFFFFF; letter-spacing: 0; text-align: center; font-weight: 700; text-transform: uppercase; text-shadow: 1px 1px 0 rgba(0,0,0,0.21); transition: all 0.8s;
    &:hover, &:focus{ background-color: #67c503;  }
}
.btn.btn-cancel { padding: 5px 5px; background: rgba(0, 0, 0, 0.08); border-radius: 6px; display: flex; align-items: center;justify-content: flex-end; transition: all 0.8s;
    &:hover, &:focus{ background: #ddd; }
    .fe { color: #000000; font-size: 20px; line-height: 20px; }
}
.btn-outline-primary {
    border-radius: 0px; border: 1px solid #2A42E1; color: #2A42E1; font-size: 14px; text-align: center; transition: all 0.8s;
    &:hover, &:focus{ background: #2A42E1; color: $white-color; transition: all 0.8s; box-shadow: 0 5px 15px 3px rgba(42, 66, 225, 0.2); }
}

.btn.btn-primary{
    transition: 0.8s all;
    &:hover, &:focus, &:active{
        background-color: #551ecc; border-color: #551ecc; box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
    }
}

.btn.btn-primary.btn-primary2 { padding: 0 30px; min-height: 42px; font-size: 16px; transition: all 0.8s; }

.btn.btn-big-cancel{ min-height: 52px; min-width: 52px; justify-content: center; transition: all 0.8s;
    .fe { font-size: 26px; line-height: 26px; }
}

.btn-complete { background: #6DD400; border: 1px solid #6DD400; border-radius: 4px; padding: 10px 30px; min-height: 52px; font-weight: 700; font-size: 22px; color: $white-color; letter-spacing: 0; text-align: center; text-transform: uppercase; min-width: 300px; text-shadow: 0 2px 0 rgba(0,0,0,0.20); transition: all 0.8s;
    &:hover, &:focus, &:active{ background-color: #67c503; border: 1px solid #67c503; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  }
    &.btn-success:not(:disabled):not(.disabled):active{ background-color: #67c503; border: 1px solid #67c503; box-shadow: none; }
}

.btn-previous { margin: 0; background: $transparent-color; border: 1px solid rgba(114, 114, 114, 0.40); border-radius: 4px; padding: 10px 30px; min-height: 52px; font-weight: 700; font-size: 22px; color: $text-grey; letter-spacing: 0; text-align: center; min-width: 165px;  transition: all 0.8s;
    &:hover, &:focus, &:active{ background-color: #fafafa; border: 1px solid #dddddd; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
    &.btn-success:not(:disabled):not(.disabled):active{ background-color: #fafafa; border: 1px solid #dddddd; box-shadow: none; }
}

.btn-cancel-block { padding: 5px 12px 5px 10px; font-size: 12px; color: $sub-color2; letter-spacing: 0; text-align: center; text-transform: uppercase; background: rgba(0,0,0,0.08); border-radius: 6px; font-weight: 500; display: flex; align-items: center; min-height: 30px;transition: all 0.8s;
    .fe-custom { color: #000000; font-size: 16px; line-height: 0; margin: 0 12px 0 0;  }
    &:hover, &:focus{ background: #ddd; }
}

.status-span {
    padding: 4px 10px; background: #6DD400; border-radius: 6px; font-size: 12px; color: $white-color; letter-spacing: 0; text-align: center; font-weight: 900; text-transform: uppercase; min-width: 90px;
    &.scheduled-span{ background: $blue-color; }
    &.awaiting-span{ background: #FFB000; }
    &.cancelled-span{ background: #C7C7C7; }
}
.status-span.status-big-span { padding: 7px 40px; min-height: 35px; display: inline-block; font-size: 18px; letter-spacing: 0; text-align: center; border-radius: 13px; }

.dropdown-general{
    .btn.btn-dot {
        padding: 2px 2px; background-color: transparent;
        i.fe { font-size: 24px; }
        &::after{ display: none; }
        &:hover{ i.fe{ color: $blue-color; }  }
    }
    .dropdown-menu{ 
        &:before { content: ""; border-top: 10px solid #ffffff00; border-right: 7px solid #ddd0; border-bottom: 10px solid #F1F1F1; border-left: 7px solid #ffffff00; display: inline-block; position: absolute; top: -22px; right: 8px;  }
        &:after { content: ""; border-top: 10px solid #ffffff00; border-right: 7px solid #ddd0; border-bottom: 10px solid #FAFAFA; border-left: 7px solid #ffffff00; display: inline-block; position: absolute; top: -20px;right: 8px;  }
        background: #FAFAFA; border: 1px solid rgba(114,114,114,0.09); box-shadow: 0 6px 10px 0 rgba(151,151,151,0.50); border-radius: 0 0 6px 6px; right: 0; margin-top: 15px; left: auto !important; min-width: 220px;
        .dropdown-item { font-weight: 400; padding: 0px 30px; font-size: 16px; color: $sub-color2; letter-spacing: 0; line-height: 40px;
            &:hover, &:focus, &:active{
                color: $blue-color;
                text-decoration: none;
                background-color: #f8f9fa;
            }
            .dropdown-item.active{ 
                color: #16181b;
                text-decoration: none;
                background-color: #f8f9fa;
            }
        }
        ul {padding: 0;margin: 0;list-style: none;
            li{
                a {text-align: left;display: block;}
                &.logout-li{ a{font-weight: 500;padding: 5px 30px;} }
            }
        }
        hr { margin-top: 0;margin-bottom: 0;border: 0;border-top: 1px solid rgba(203, 203, 203, 0.6);padding: 0;margin: 10px 30px 5px 30px; }
    }
}

.span-breack{
    display: block;
}



/*** End of general css ***/

/*  header  */

.mt-0{ margin-top: 0px !important; }
.mb-10{ margin-bottom: 10px !important; }
.mb-15{ margin-bottom: 15px !important; }
.mb-35{ margin-bottom: 30px !important; }
.ptb-10{ padding-top: 10px !important;padding-bottom: 10px !important; }
.ptb-40{ padding-top: 30px !important;padding-bottom: 25px !important; }
.pb-20{ padding-bottom: 20px !important; }
.hide-nav{ display: none !important; }



.nav-details-right{ 
    padding: 0; margin: 0;  display: flex;

    .notification-dropdown-group{
        min-height: 54px; display: flex; align-items: center; min-width: 45px; margin: 0 30px 0 0; justify-content: center;
        ul { list-style: none; padding: 0; }
        .btn.btn-default{ position: relative; border: none; box-shadow: none; outline: none; transition: 0.8s;
            &:focus, &:hover{
                border: none; box-shadow: none; outline: none; 
            }
            .icon-bell1 { font-size: 21px; color: $white-color;}
            &::after{display: none;}
        }
        .dropdown-toggle::before{ display: none; }
        span.count-round { padding: 0 0 2px 0; margin: 0; background-color: #E90000; border: 1px solid #2A42E1; height: 10px; width: 10px; border-radius: 100%; font-size: 10px; line-height: 11px; display: flex; align-items: center; justify-content: center; flex-direction: column; position: absolute;top: 5px;color: $white-color;left: 24px; }
        .dropdown-menu{ 
            min-width: 340px; padding: 0;
        }

        .notification-box{  padding: 0; margin: 0; position: relative; 
            .notification-body{
                padding: 20px 10px 0px 10px; margin: 0; max-height: 420px; overflow-y: auto;

                &::-webkit-scrollbar {width: 5px;height: 5px;}
                &::-webkit-scrollbar-track {background-color: rgba(0,0,0,0.1);border-radius: 24px 24px;}
                &::-webkit-scrollbar-thumb {background-color: #2A42E1;border-radius: 5px;}
                
                h5 { font-weight: 700; font-size: 14px; color: $sub-color3; letter-spacing: 0; padding: 0; margin: 0; line-height: 18px; }

                .row-day{  padding: 10px 0px 0 0; margin: 10px 0 10px 0; border-top: 1px solid #FAFAFA; 
                    &:first-child{  padding: 0px 0px 0 0; margin: 0px 0 0 0; border-top: 0px solid #FAFAFA;  }
                }

                .div-notification-list-row { padding: 0; margin: 0 0 10px 0; 
                    .notificationlink{ padding: 10px 0px;background: $white-color; border-radius: 4px; display: flex; align-items: flex-start; justify-content: flex-start; box-shadow: 0 4px 10px 2px rgba(18,18,18,0.05); position: relative; margin: 12px 0 0 0; }
                    .user-img{ padding: 0px 0px 0 10px; margin: 0; min-width: 45px; 
                        img.not-img { width: 34px;height: 34px; object-fit: cover; border-radius: 100%; border-radius: 100px; }
                    }
                    .notif-desc{ padding: 0px 0px; padding-left: 10px; margin: 0; width: calc(100% - 45px); 
                        h4 { padding: 0; margin: 0 0 5px 0; font-weight: 700; font-size: 16px; color: $sub-color3; }
                        p{ padding: 0px 0px; margin: 0 0 8px 0; max-width: 100%; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; font-size: 14px;color: $text-grey;letter-spacing: 0;line-height: 22px; }
                        span.time-span-line { padding: 0; margin: 0; font-weight: 500; font-size: 12px; color: $sub-color2; }
                        span.rec-line { height: 10px; width: 1px; background-color: #62666B; display: inline-block; margin: 0 10px; }
                    }
                }

            }
            .notification-footer{
                padding: 0px 0px; margin: 0; display: flex; align-items: center; justify-content: flex-end;
            }
        }

        img.notification-icon{ opacity: 0.4; transition: 0.8s; }

    }

    .dropdown-menu { 
        &:before { content: ""; border-top: 10px solid #ffffff00; border-right: 7px solid #ddd0; border-bottom: 10px solid #F1F1F1; border-left: 7px solid #ffffff00; display: inline-block; position: absolute; top: -20px;right: 17px;  }
        background: #FAFAFA;box-shadow: 0 6px 10px 0 rgba(151,151,151,0.50); border-radius: 0 0 6px 6px;right: 0;margin-top: 15px;left: auto !important;min-width: 220px;border: 0px solid #F1F1F1; 
        a.dropdown-item { font-weight: 400; padding: 0px 30px; font-size: 16px; color: $sub-color2; letter-spacing: 0; line-height: 40px;
            &:hover, &:focus, &:active{
                color: $blue-color;
                text-decoration: none;
                background-color: #f8f9fa;
            }
            &.active{ 
                color: #16181b;
                text-decoration: none;
                background-color: #f8f9fa;
            }
        }
        ul {padding: 0;margin: 0;list-style: none;
            li{
                a {text-align: left;display: block;}
                &.logout-li{ a{font-weight: 500;padding: 5px 30px;} }
            }
        }
        hr { margin-top: 0;margin-bottom: 0;border: 0;border-top: 1px solid rgba(203, 203, 203, 0.6);padding: 0;margin: 10px 30px 5px 30px; }
    }

    .user-drop-down {
        margin-left: 10px;
        .dropdown-custom-top{
            .btn.dropdown-toggle{
                padding: 0; padding-right: 30px; padding-left: 10px;
                &::after {border-top: .35em solid $light-white-color;border-right: .35em solid transparent;border-left: .35em solid transparent;position: absolute;right: 20px;}
                &::before { transform: rotate(270deg); color: #D8D8D8; font-size: 24px;}
                display: flex; justify-content: center; align-items: center; box-shadow: none; outline: none;
                .user-profile{ 
                    padding: 0 0 0 0px; display: flex; align-items: center; justify-content: flex-end;
                    .user-info {
                        padding: 0 30px 0 20px; text-align: left;min-width: 230px;
                        h3 { font-weight: 500;margin: 0 0 2px 0;font-size: 18px; line-height: 24px; color: $white-color;letter-spacing: 0; }
                        p { margin: 0; font-weight: 400;font-size: 14px; line-height: 22px; color: rgba(255, 255, 255, 0.79); }
                    }
                    .user-img { margin: 0 0px;
                        .user-top-image { padding: 0; margin: 0; border-radius: 100px; height: 48px; width: 48px; overflow: hidden;     object-fit: cover; }
                    }
                }
                
            }
        }
    }
}

/* End of header  */

/*  main body  */

.dashboard-wrapper{ background-color: #FAFBFD; }
.white-bg{ background-color: $white-color; }

.main-middle-area {
    padding: 80px 0 0 0;  
}

.page-header{
    padding: 30px 0; margin: 0; position: relative;
    h3 { padding: 0; margin: 0; font-weight: 500; font-size: 20px; color: $sub-color2; letter-spacing: -0.1px; line-height: 28px; min-height: 40px; display: flex; align-items: center; }
    .search-div{ padding: 0px 0; margin: 0; }
    .search-box{
        padding: 0px 0; margin: 0; position: relative;
        .form-search {
            background: #F1F2F5; border: 1px solid #F5F6FA; border-radius: 2px; font-weight: 300; font-size: 18px; color: $text-grey; letter-spacing: 0; padding: 5px 35px 5px 15px; min-height: 40px; margin: 0 0 0 0; box-shadow: none;
            &::-webkit-input-placeholder { color: $text-grey;}
            &::-moz-placeholder { color: $text-grey;}
            &:-ms-input-placeholder { color: $text-grey;}
            &:-moz-placeholder { color: $text-grey;}            
        }
        .icon-search {
            font-size: 18px; color: $text-grey;
        }
        .btn-search{ position: absolute; top: 0px; right: 0px; background: transparent; border: 1px solid transparent; outline: none; padding: 8px 10px 6px 10px; min-height: 40px; width: 42px; }
    }

    /* connection */

    .connection-right{
        padding: 0; margin: 0; display: flex; justify-content: flex-end;
        .mr-10 { margin-right: 10px; }
        .search-div{ width: 100%;     }
        .search-box { 
            width: 100%; display: flex; justify-content: flex-end; 
            .form-search{ padding: 7px 35px 6px 15px; min-height: 42px; width: 100%; }
            .icon-search{ top: 11px; }
        }
        
        .search-hover-div{
            .search-box{ transition: all 0.8s; 
                .form-search{ width: 42px; padding-right: 20px; padding-left: 20px; transition: all 0.8s;
                    &::-webkit-input-placeholder { color: transparent;}
                    &::-moz-placeholder { color: transparent;}
                    &:-ms-input-placeholder { color: transparent;}
                    &:-moz-placeholder { color: transparent;}            
                }
                .icon-search-cancel { font-size: 20px; background-color: transparent; height: 24px; width: 24px; display: flex; align-items: center; justify-content: center; padding: 0 0 2px 0; display: none; transition: all 0.8s;  }
                &.full-width-input{
                    .form-search{  width: 100%; padding-right: 40px; padding-left: 15px; 
                        &::-webkit-input-placeholder { color: $text-grey;}
                        &::-moz-placeholder { color: $text-grey;}
                        &:-ms-input-placeholder { color: $text-grey;}
                        &:-moz-placeholder { color: $text-grey;}      
                    }
                    .icon-search{ display: none; }
                    .icon-search-cancel{ display: flex; }
                }
            }
        }
    }

    /* End of connection */

}

.card-view-main{
    padding: 0; margin: 0; position: relative;
    .card-view-div{
        padding: 20px 30px; margin: 0; display: flex; align-items: center; position: relative; min-height: 100px; width: 100%; background-image: linear-gradient(-45deg, #0054FE 0%, #0054FE 100%); transition: all 3s;
        &.card-view-div02{ background-image: linear-gradient(-45deg, #59B7F0 0%, #59D6F0 100%); }
        &.card-view-div03{ background-image: linear-gradient(-45deg, #FF8F00 0%, #FFB000 100%); }
        .icon-view {
            width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; background-color: $white-color;transition: all 2s;
        }
        .details-view-right {
            padding: 0 0px 0 20px; margin: 0; position: relative;     width: calc(100% - 60px);
            h4 {
                padding: 0; margin: 0 0 0 0; color: $white-color; font-size: 20px; line-height: 28px; font-weight: 700;
            }
            .btn-view {
                padding: 0; margin: 0; font-size: 16px; line-height: 24px; color: $white-color; font-weight: 500; position: relative;     width: 100%; transition: 0.8s all;
                text-align: left;
                .icon-arrow {
                    position: absolute; right: 0; top: 5px; transition: 0.8s all;
                }
            }
        }
        &:hover{
            .icon-view{ border-radius: 60px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
            .details-view-right {
                .btn-view {
                    .icon-arrow {
                        right: 5px;
                    }
                }
            }
        }
    }
    .row.grid-row {
        margin-right: -10px;
        margin-left: -10px;
        .grid-4 { padding-right: 10px; padding-left: 10px; }
    }
}

.event-view-main-root{
    padding: 0; margin: 30px 0 30px 0; position: relative;
    .row.grid-row{ margin-right: -10px; margin-left: -10px; }
    .plr-10{ padding-right: 10px; padding-left: 10px; } 
}

.heading-title{
    padding: 0;  margin: 0 0 15px 0;  position: relative;     display: flex;
    h3 {
        font-weight: 500; font-size: 20px; color: $text-black; letter-spacing: -0.1px; line-height: 23px; margin: 0;   display: inline-block;
    }
    .right-button {
        display: inline-block;
        .btn.btn-link { font-weight: 500; font-size: 16px; letter-spacing: -0.08px; text-align: right; line-height: 24px; }
    }
}

.data-table-root{
    .table-responsive{ max-height: 490px; }
    .table-custom{
        th, td{ padding: 12px .4rem; vertical-align: middle; }
        th { font-weight: 500; font-size: 14px; color: #222222; letter-spacing: 0; background-color: #F5F6F9; border-color: transparent !important;     border-color: transparent !important; }
        th:first-child, td:first-child{padding: 0 10px; text-align: center; border-radius: 4px 0 0 4px; }
        th:last-child, td:last-child{padding: 0 15px; border-radius: 0 4px 4px 0; }
        thead tr{ border-bottom: 10px solid #fafbfd; }
        tbody tr { margin: 0 0 10px 0; display: table-row; width: 100%; border-bottom: 10px solid #fafbfd; background-color: #fff; 
            &:hover{
                background: #FFFFFF; box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60);
            }
            &.modal-hover{
                cursor: pointer;
            }
        }
        .width-40px{ width: 40px;    width: 40px !important; }
        .width-20-40{ width: 15%; min-width: 120px; }
        .width-20{ width: 20%; }
        .width-15{ width: 15%; }
        .width-25{ width: 25%; }
        .max-width-140{ max-width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
        .max-width-120{ max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    }
    .meeting-user {
        padding: 0; margin: 0; display: flex; align-items: center;     max-width: 162px;

        .img-user-thumb { padding: 0; margin: 0; 
            .img-user{ height: 35px; width: 35px; object-fit: cover; border-radius: 100px; }
        }
        .details-user{
            width: calc(100% - 35px); padding: 0 0 0 8px;
            h4 { padding: 0; margin: 0;  font-size: 14px; color: #222222; letter-spacing: 0;  line-height: 20px; font-weight: 500;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
            p{ padding: 0; margin: 0; font-size: 12px; color: $text-grey; line-height: 16px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
        }
    }
    .status-action{
        padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-end;
    }
    &.full-table-root{
        .table-responsive{ max-height: 100%; }
    }
}

.grid-30{ flex: 0 0 30%; max-width: 30%; }
.grid-50{ flex: 0 0 50%; max-width: 50%; }
.grid-70{ flex: 0 0 70%; max-width: 70%; }


.card-view-list-root {
    padding: 0;  margin: 0 0 15px 0;  position: relative;  background: #FFFFFF; box-shadow: 0 2px 54px 0 #F5F6FA;
    .inner-top-header {
        padding: 20px 10px 10px 20px; margin: 0 0 0px 0; display: flex; justify-content: space-between;
        h3 {
            padding: 0; margin: 0; font-weight: 500; font-size: 20px; color: $text-black; line-height: 24px;
        }
    }
    .top-row-div{
        display: flex; padding: 5px 20px 20px 20px; width: 100%;
        .top-span { opacity: 0.7; font-weight: 500; font-size: 12px; color: #222222; letter-spacing: 0; margin: 0px 0 2px 0; display: block; }
        h3 { font-weight: 900; font-size: 28px; color: #222222; letter-spacing: 0; }
        .card-box { padding: 5px 0; }
    }
    .border-right1{ border-right: 1px solid #F5F6F9; }


    .listing-request-root{
        padding: 0;  margin: 0 0 0px 0;  position: relative;
        .listing-row-full{
            padding: 0;  margin: 0 0 0px 0;  position: relative;
            .request-user{
                padding: 15px 15px; margin: 0; display: flex; align-items: center;     box-shadow: 0 -1px 0 0 #F5F6F9, 0 1px 0 0 #F5F6F9;
                .img-user-thumb { padding: 0; margin: 0;  position: relative;
                    .img-user{ height: 42px; width: 42px; object-fit: cover; border-radius: 100px; }
                }
                span.user-status {
                    background: #00D900; border: 2px solid #FFFFFF; display: flex; position: absolute; bottom: 3px; right: 0; height: 10px; width: 10px; border-radius: 100%;
                }
                .details-user{
                    width: calc(100% - 42px); padding: 0 0 0 10px;
                    h4 { padding: 0; margin: 0;  font-size: 14px; color: #222222; letter-spacing: 0;  line-height: 20px; font-weight: 500;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
                    p{ padding: 0; margin: 0; font-size: 14px; color: $text-grey; line-height: 16px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
                }
            }
        }
        
        /* All Event */

        &.all-events-root{
            // max-height: calc(100vh - 475px); overflow-y: auto; 
            .request-user {
                .details-user {
                    h5 { font-size: 14px; color: $text-grey; letter-spacing: 0; padding: 0; margin: 0 0 5px 0; font-weight: 400; }
                    a.link-user-img {
                        font-weight: 700; color: #101010; text-decoration: underline;
                        &:hover, &:focus{
                            color: $blue-color;
                        }
                    }
                }
            }
            
        }
  
    }
}

.event-view-number-top{
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: flex-end;
    p {
        font-weight: 400;
        font-size: 18px;
        color: #727272;
        letter-spacing: 0;
        text-align: right;
        margin: -51px 0 0 0;
        display: inline-block;
        width: auto;
        span.color-span {
            color: #424242;
        }
    }
}

.need-help-view{
    padding: 30px 20px 20px 20px;  margin: 0 0 15px 0;  position: relative;  background: #FFFFFF; 
    .img-row-div{ margin: 0 0 25px 0; 
        .img-need { width: 100%; } 
    }
    h4 { padding: 0; margin: 0px 0 5px 0; font-size: 16px; font-weight: 700; color: $sub-color2; letter-spacing: -0.09px; }
    p { padding: 0; margin: 0px 0 25px 0; font-weight: 400; font-size: 12px; color: $text-grey; letter-spacing: 0; line-height: 18px; }
}

.add-plus-div{ 
    padding: 0; margin: 0px 0 0px 0; position: fixed; bottom: 100px; right: 50px;
}

.btn-round.btn-plus {
    padding: 0; margin: 0; background-color: $blue-color; height: 64px; width: 64px; outline: none;
    color: $white-color; font-size: 44px; border-radius: 100%; display: flex; align-items: center; justify-content: center; transition: all 0.8s;
    i.material-icons { font-size: 44px; }
    &:hover, &:focus{
        box-shadow: 0px 10px 25px 0 rgba(42, 66, 225, 0.4);
    }
}

/*  calendar  */

.title-div {
    display: flex;
    align-items: center;
}

.link-back{
    width: auto; margin: 0 20px 0 0; line-height: 39px; border: none; padding: 0px 0;
    .icon-custom{
        display: inline-block; width: 70px; height: 70px; background: black; mask-size: contain; 
        &:hover, &:focus { background: $blue-color; }
        &.arrow-left-long-icon{
            mask: url(../images/icons/arrow-left-long.svg);  width: 22px; height: 14px;     line-height: 40px; vertical-align: middle;
        }
    }
}

/* tab view */

.tab-view-root{
    padding: 0; margin: 0; position: relative;
    .top-list-nav-tabs{
        padding: 0; margin: 0; position: relative;
        .nav-tabs {
            li { display: flex; margin: 0 40px 0 0; }
            a { 
                opacity: 0.5; padding: 10px 0; margin: 0; font-weight: 500; font-size: 18px; color: $sub-color2; letter-spacing: 0; text-align: center; display: block; border-bottom: 2px solid transparent; transition: all 0.8s;
                &:hover, &:focus{
                    opacity: 1; 
                }
            }
            a.active { opacity: 1; border-bottom: 2px solid #424242; }
        }
    }
    .tab-view-body{
        padding: 10px 0 0 0; margin: 0; position: relative;
        .tab-inner-container{
            padding: 10px 0; margin: 0;position: relative;
        }
    }
}

.img-fluid.img-full {  width: 100%; }


/* End of tab view  */

/* End of calendar */

/*  End of main body  */


/* Modal */

.status-span.status-big-span { padding: 7px 40px; min-height: 35px; display: inline-block; font-size: 18px; letter-spacing: 0; text-align: center; }

.user-link-italic { font-size: 22px; color: #000000; text-align: center; line-height: 30px; font-style: italic; font-weight: 700; text-decoration: underline; transition: all 0.8s;
    &:hover, &:focus{
        color: $blue-color; text-decoration: underline;
    }
}
span.blue-bold { color: #2A42E1; font-weight: 700; }

.modal-common {
	.common-box {
        &.event-action-box{ padding-bottom: 5px; }
		.content-box {
			.max-width-470{ max-width: 470px; }
        }
        .event-time-view {
            display: flex; flex-direction: column; padding: 35px 40px 25px 40px; background-color: #FAFAFA; justify-content: center;
            p{ padding: 0; margin: 0 0 5px 0; font-weight: 500; font-size: 24px; color: rgba(66, 66, 66, 0.60); text-align: center; }
            h2 { margin: 0; padding: 0; font-weight: 700; font-size: 40px; color: $sub-color2; letter-spacing: 0; text-align: center; }
        }
        .bottom-text-center{
            padding: 25px 40px 5px 40px;
            p{ max-width: 450px;  margin: 0 auto 5px auto; }
            h5 {
                font-weight: 500; font-size: 22px; color: #000000; text-align: center; line-height: 32px; padding: 0; margin: 0 auto 5px auto; text-decoration: underline;
            }
        }
        .status-inner-row{
            padding: 30px 0; text-align: center;
            p{line-height: 32px;}
        }
    }
    .modal-footer2{
        padding: 20px 40px 30px 40px;
    }
    .modal-footer3 {
        max-width: 580px; margin: 0 auto; width: 100%; padding: 30px 10px 40px 10px;
    }
    .modal-footer4 {
        margin: 0 auto; width: 100%; padding: 0px 40px 0px 40px;
    }
}

.safety-image-group{
    padding: 40px 0; margin: 0; position: relative;
    .safety-container { max-width: 580px; padding-right: 12px; padding-left: 12px; }
    .safety-row { margin-right: -6px; margin-left: -6px; }
    .plr-6{ padding-right: 6px; padding-left: 6px; }

    .safety-select-box {
        padding: 10px; margin: 0 0 12px 0; min-height: 133px; display: flex; align-items: center; justify-content: center; background-color: #fafafa; border:2px solid #fafafa;opacity: 60%; position: relative; cursor: pointer;
        .safety-label { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; cursor: pointer; }
        .radio-btn{ display: none; }
        &:before{ opacity: 0; content: "\e86c"; font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 26px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; position: absolute; top: 2px; right: 2px; color: #6DD400; }
        &.active{
            opacity: 1; border:2px solid #6DD400; background-color: $white-color;
            &:before{ opacity: 1; }
        }
    }

    .warning-container{
        .safety-select-box{
            &.active { border: 2px solid #FF0052; }
            &::before{
                color: #FF0052;
            }
        }
    }
}

.connection-form-group{
    padding: 40px 0 0 0; margin: 0; position: relative;
    .connection-container { max-width: 580px; padding-right: 12px; padding-left: 12px; }
    .grid-row { margin-right: -6px; margin-left: -6px; }
    .plr-6{ padding-right: 6px; padding-left: 6px; }
    .common-forms-root{ padding: 0; margin: 0; }
    .invite-box-root {
        flex-wrap: wrap;
        .invite-box-card{
            min-width: calc(50% - 16px);
        }
    }
}

.modal-big-width{
    .modal-dialog{ max-width: 1015px;}
}

.common-details-box {
    padding: 40px 40px; margin: 0; position: relative;
    .profile-user-view-box{ 
        padding: 0 0 40px 0; margin: 0; position: relative; display: flex; align-items: flex-end; border-bottom: 1px solid rgba(114, 114, 114, 0.2);
        .user-profile-img{
            padding: 0 30px 0 0; margin: 0 0 0 0; 
            .img-user {
                height: 140px; width: 140px; object-fit: cover; border-radius: 100%;
            }
        }
        .user-content-details{
            h3 { padding: 0; margin: 0 0 10px 0; font-weight: 500; font-size: 34px; color: #424242; }
            .verify-user-label { display: flex; align-items: center;
                .img-verfied {margin: 0 15px 0 0;}
                p { margin: 0; padding: 0; font-weight: 700; font-size: 20px; color: #2A42E1; text-shadow: 0 1px 0 rgba(0,0,0,0.17); }   
            }
        }
    }
    .details-view-middle{
        margin: 0; padding: 40px 0 20px 0; position: relative;
        .row-view{
            margin: 0 0 20px 0; padding: 0; display: flex; flex-wrap: wrap; position: relative;
            .label-div{
                padding: 0; margin: 0; flex: 0 0 25%; display: flex; word-break: break-all;                      
                h4 { margin: 0 0 5px 0; padding: 0; font-weight: 500;font-size: 24px;color: $sub-color2; }            
            }
            .details-fill-view{
                padding: 0; margin: 0; flex: 0 0 75%; display: flex; word-break: break-all;           
                p { margin: 0 0 5px 0; padding: 0; font-weight: 400;font-size: 24px; line-height: 35px; color: $text-grey; width: 70%; overflow: hidden; text-overflow: ellipsis; display: block; word-break: break-word; }            
                .label-span {
                    width: 30%; font-size: 18px; color: #6DD400; font-weight: 700; font-style: italic; text-align: right;     line-height: 24px;
                    &.in-progress-span{ color: #E6C229; }
                }
            }
        }
    }
}

.status-action-footer{
    display: flex; align-items: center;  padding: 40px 0px 40px 0px;   border-top: 1px solid rgba(114, 114, 114, 0.2); width: 100%;
    .btn-complete{ padding: 8px 30px; }
}

/* End of Modal */

.common-forms-root{
    padding: 10px 0; margin: 0 0 30px 0;
    .form-group { margin-bottom: 30px; }
    label{ font-size: 20px; color: #181818; letter-spacing: 0; font-weight: 400; margin-bottom: 15px; }
    .form-control {
        border: 1px solid #C7C7C7;
        height: 58px;
        background-color: transparent;
        border-radius: 0;
        &:hover, &:focus, &:active{
            border: 1px solid #424242 !important; background-color: $white-color; box-shadow: 0 2px 14px 0 rgba(114,114,114,0.19);
        }
    }
    .row.grid-row {
        margin-right: -10px;
        margin-left: -10px;
        .plr-10 { padding-right: 10px; padding-left: 10px; }
    }
    .submit-div-row{
        display: flex; justify-content: flex-end;
        .btn-previous { background-color: $white-color; }
        .mr-10 { margin-right: 10px !important; }
        .btn.btn-primary { min-width: 240px; }
    }

}

.position-relative-dropdown{ position: relative; }
.select2-dropdown-div{
    position: relative; 
    .select2-dropdown-body{ display: none;
        padding: 4px 0; margin: 0; background-color: #fff; border: 1px solid #C7C7C7; position: absolute; width: 100%; top: -16px;
        .select2-row{
            padding: 5px 20px 5px 20px; margin: 0; position: relative; display: flex; align-items: center; width: 100%; min-height: 42px;
            .img-div { padding: 0; margin: 0; height: 35px; width: 35px; 
                img{ height: 35px; width: 35px; object-fit: cover; border-radius: 100px; }
            }
            .text-div-half{ padding: 0 0 0 10px; margin: 0; display: flex; align-items: center; width: calc(100% - 35px); justify-content: space-between; }
            h3 { padding: 0; margin: 0; font-weight: 400; font-size: 20px; color: #727272; letter-spacing: 0; line-height: 28px; justify-content: flex-start; text-align: left; }
            .badge-span { font-weight: 700; font-size: 14px; color: #424242; letter-spacing: 0; text-align: right; line-height: 24px;     min-width: 30%; }
            &.active, &:hover{ background: #F2F2F2; }
        }
    }
}

.textarea-115 { min-height: 115px; resize: none; }

.invite-box-root{
    padding: 0; margin: 0 0 0px 0; position: relative; display: flex; width: 100%;
    .invite-box-card {
        padding: 0; margin: 0 16px 20px 0; background: $white-color; border: 1px solid rgba(232, 232, 232, 0.6); box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60); border-radius: 6px; min-width: 286px; transition: all 0.6s ease-in-out;
        .top-card-box{
            padding: 20px 20px; margin: 0; display: flex; border-bottom: 1px solid rgba(232, 232, 232, 0.6);
            .img-user-thumb{ padding: 0; margin: 0; 
                .img-user { height: 62px; width: 62px; border-radius: 100px; object-fit: cover; }
            }
            .details-user {
                width: calc(100% - 62px); padding: 0 0 0 10px; margin: 0;
                h4 { padding: 0; margin: 0 0 5px 0; font-weight: 500; font-size: 16px; color: #222222; letter-spacing: 0; text-decoration: underline; }
                p { font-size: 14px; color: $text-grey; padding: 0; margin: 0; line-height: 20px; }
                span.v-line-span { padding: 0 5px 0 6px; }
            }
        }
        &.active, &:hover{ 
            box-shadow: 0 4px 14px 1px rgba(0, 0, 0, .1);
        }
    }
}

/* date-picker */

.gj-picker div[role=navigator] div { display: flex; align-items: center; justify-content: center; }
.gj-picker-md table tr td.selected.gj-cursor-pointer div { background: #2a42e1; }
.gj-datepicker .fa_calendar_icon.calender-icon { display: none; }

/* End of date-picker */

.link.remove-link {
    font-weight: 700; font-size: 14px; color: #FF0052; letter-spacing: -0.14px; text-align: center; min-height: 38px; display: flex; align-items: center; justify-content: center; text-transform: uppercase; transition: all 0.6s ease-in-out;
    &:hover, &:focus, &:active{
        color: rgb(255, 0, 17);
    }
}

.note-div{
    padding: 35px 0 0 0; margin: 0; position: relative; min-height: 96px; display: flex; align-items: center;
    .text-note{ color: $sub-color2;font-weight: 500; display: block;  }
    p { font-size: 20px; color: #727272; line-height: 28px; font-weight: 400; }
}

/* connection */

.connection-card {
    padding: 0; margin: 0 0px 20px 0; background: $white-color; border: 1px solid transparent; box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60); border-radius: 6px; min-width: 100%;
    .top-card-box{
        padding: 15px 20px; margin: 0; display: flex;  cursor: pointer;
        .img-user-thumb{ padding: 0; margin: 0; min-width: 62px;
            .img-user { height: 62px; width: 62px; object-fit: cover; border-radius: 100px; }
            .connection-link-box{ display: block; }
        }
        .details-user {
            width: calc(65% - 62px); padding: 0 0 0 10px; margin: 0;
            h4 { padding: 0; margin: 0 0 5px 0; font-weight: 500; font-size: 16px; color: #222222; letter-spacing: 0; text-decoration: underline; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
            p { font-size: 14px; color: $text-grey; padding: 0; margin: 0; line-height: 20px; }
            span.v-line-span { padding: 0 5px 0 6px; }
            
        }
        .details-right {
            padding: 0; margin: 0; width: 35%; display: flex; justify-content: flex-end; flex-direction: column; align-items: flex-end;
            p { font-weight: 500; font-size: 12px; color: $blue-color; letter-spacing: 0; text-align: right; margin: 0 0 16px 0; line-height: 18px; }
            .label-connect { display: flex; align-items: center; 
                .img-icon { padding: 0; margin: 0 5px 0 0; display: flex; 
                    .icons-img-svg {  width: 22px; }
                }
                span.text-span { padding: 0; margin: 0; font-weight: 700; font-size: 14px; color: $blue-color; }
            }
            .status-action { width: 100%; display: flex; justify-content: flex-end; }
            .message-row-div { min-height: calc(100% - 30px ); }
        }
    }
}

/* End of connection */

/* manage card */

.card-radio-root{
    padding: 0; margin: 0 0 20px 0; position: relative;
    .saved-card-box {
        background: #FFFFFF; margin: 0 0 20px 0; border: 1px solid rgba(232, 232, 232, 0.6); box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60); border-radius: 6px; transition: 0.8s all;
        .hold-click-label{ cursor: pointer; width: 100%; }
        .top-card-body-box { padding: 20px 20px 0px 20px; margin: 0; position: relative; float: left; width: 100%; }
        .card-row-top { padding: 0; margin: 0; float: left; width: 100%; position: relative; }
        .card-row-top.mb-25{ margin: 0 0 15px 0; }
        p { padding: 0; margin: 0 0 2px 0; font-size: 12px; font-weight: 400; display: block; width: 100%; line-height: 16px; color: #727272; }
        h3 { padding: 0; margin: 0 0 5px 0; font-size: 18px; display: block; width: 100%; color: #424242; line-height: 24px; font-weight: 400; overflow: hidden; width: 100%; display: block; text-overflow: ellipsis; white-space: nowrap; }
        .card-row-half-70 { padding: 0; margin: 0; width: 70%; float: left; }
        .card-row-half-30 { padding: 0; margin: 0; width: 30%; float: left; }
        .card-row-top .card-row-img-thumb { padding: 0; margin: 0; float: left; position: absolute;    top: -35px; right: 0; }
        .radio-box { padding: 20px 20px 0 20px; margin: 0; display: flex; align-items: center; width: 100%; float: left; 
            .radio-parent{ padding: 0 10px 0 0; margin: 0; float: left; }
            .checklist { margin: 0 0 0px 0; padding: 0; width: 100%; display: flex; align-items: center; 
                &:focus{ outline: none; }
            }
            .checklist label{ padding: 0; margin: 0; line-height: 20px; font-size: 16px; font-weight: 500; color: #222221; }
            .checklist .form-radio { top: 0; height: 20px; width: 20px; border: 0; margin-right: 0px; border: 2px solid #424242; }
            .checklist { margin: 0 0 0px 0; padding: 0; width: 100%; }
            .checklist .form-radio { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: inline-block; position: relative; color: #666; top: 3px; height: 20px; width: 20px; border: 0; border-radius: 100%; cursor: pointer; margin-right: 0px; outline: none; color: #ffffff; border: 2px solid #424242; transform: scale(.9); }
            .checklist .txt_span { padding-left: 0; font-size: 14px; color: #222221; padding-top: 1px; }
            .checklist .form-radio:checked::before { position: absolute; left: 0px; top: 0px; content: " "; transform: rotate(40deg); font-weight: 900; color: #666666; border: 3px solid #fff; border-radius: 100%; height: 16px; width: 16px; }
            .checklist .form-radio:hover{ background-color: #ffffff; }
            .checklist .form-radio:checked{ background-color: #2A42E1; border-color: #2A42E1; }
            .checklist label{ padding-left: 0; font-size: 16px; color: #222221; padding-top: 1px; }
        }
        .bottom-card-body-box{
            padding: 0; margin: 0; border-top: 1px solid rgba(232, 232, 232, 0.6);
            .btn.btn-remove {
                width: 100%; font-weight: 700; font-size: 16px; color: #E90000; background-color: transparent; text-align: center; text-transform: uppercase; min-height: 40px; transition: all 0.8s;
                &:hover{
                    background-color: #fafafa;
                }
            }
        }
        &:hover{
            box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.1); border: 1px solid transparent;
        }

    }
    .saved-card-box.active{
        .radio-box .checklist .form-radio:checked { background-color: #2A42E1; border-color: #2A42E1; }
    }
}

.heading-title{
    padding: 0; margin: 0; position: relative;
    h2 {
        padding: 0; margin: 0 0 30px 0; font-weight: 500; font-size: 22px; color: #282D30; line-height: 28px; display: block; text-decoration: underline; width: 100%;
    }
}

.common-payment-card-forms{
    .form-control::-webkit-input-placeholder { color: #727272; font-weight: 300; }
    .form-control::-moz-placeholder { color: #727272;font-weight: 300;}
    .form-control:-ms-input-placeholder { color: #727272;font-weight: 300;}
    .form-control:-moz-placeholder { color: #727272;font-weight: 300;}
}

/* End of manage card */

.password-box{
    padding: 0; margin: 0; position: relative;
    .password-view-click { 
        padding: 0; margin: 0; min-height: 52px; min-width: 52px; height: 100%; position: absolute; top: 0; right: 0; display: flex; align-items: center; justify-content: center; background-color: transparent; border: none; color: rgba(151, 151, 151, 0.4); transition: 0.8s all;z-index: 9; cursor: pointer;
        .password-view{ color: rgba(151, 151, 151, 0.35); font-size: 22px; transition: 0.8s all; }
        .password-hide{ color: #424242; font-size: 22px; transition: 0.8s all; }
        &:hover, &:focus, &:active{
            box-shadow: none; outline: none; 
            .password-view{ color: rgba(151, 151, 151, 0.8); }
        }
    }
} 

/* faq */

.accordion-faq {
    .accordion{
        .card{
            margin-bottom: 20px; border-radius: 0px; border: 1px solid #C7C7C7;
            .show {
                .card-body{
                    border-bottom: 0px solid #C7C7C7; border-color:#C7C7C7; padding: 20px; 
                }
            }
            .card-header{
                margin-bottom: 0; padding: 0; border-color:#C7C7C7;  background-color: #ffffff; border-bottom: 0px solid rgba(0,0,0,.125);
                    h2 {
                        line-height: 54px; font-weight: 500;
                        .btn-link { font-size: 20px; color: #424242; letter-spacing: -0.1px; font-weight: 500; line-height: 27px; text-decoration: none; padding: 18px 20px 15px 80px; text-align: left; width: 100%; position: relative; word-break: break-word; white-space: normal;
                            &.collapsed{
                                i:before {
                                    content: "\e9b1";
                                }   
                            }
                            i { 
                                position: absolute; left: -1px; top: -1px; height: calc(100% + 2px); background-color: #fff; width: 60px; font-size: 22px; color: #303030; display: flex; align-items: center; justify-content: center; border-right: 1px solid #C7C7C7;
                                &:before {
                                    content: "\e996";
                                }
                            }
                            &:hover, &:focus{
                                background-color: #fafafa;
                                i{ background-color: #fafafa; }
                            }
                        }
                    }
                }

            .card-body{
                border-top: 1px solid #C7C7C7;background: #EEF4FF;
                p { padding:0; margin:0; font-weight: 300; font-size: 18px; color: #424242; letter-spacing: 0; line-height: 36px; }
            }
        }
    }
}

/* End of faq */

/* Profile */

.profile-card{
    padding: 0; margin: 0 0 30px 0; position: relative;
    .common-details-box {
        background-color: #FFFFFF; border: 1px solid rgba(232, 232, 232, 0.5); box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60); border-radius: 6px;
    }
}

/* End of profile */

/* Edit profile */

.edit-profile-section{
    .step-content-inner { min-height: auto; padding-top: 0; }
    .mr-10 { margin-right: 10px !important; }
    .display-none{ display:none; }
    .nav-tabs { justify-content: space-between; }
    .btn-verified-link{ color: #6DD400; padding: 10px 5px;
        &:hover, &:focus, &:active{
            color: #5eb304; 
        }   
    }
    .max-input-div .select-box.select-custom2 { background-color: #fff; }
    .registration-box{
        width:100%;
    }
    .provided-verified{ position:relative;
        .input-verified {
            font-weight: 700; font-size: 14px; color: #FF7404;    display: flex; align-items: center; position: absolute;     top: 15px; right: 20px;
            img.verified3 { margin: 0 5px 0 0; }
        }
    }

    .upload-doc-step{
        .card-upload-doc {
            background: #FFFFFF;
            border: 0 solid #E8E8E8;
            box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60);
            border-radius: 6px;
            min-height: 326px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center; 
            p {
                font-weight: 400;
                font-size: 20px;
                color: #424242;
                letter-spacing: 0;
                text-align: center;
                line-height: 26px;
                padding: 0;
                margin: 0;
                .hight-light {
                    font-weight: 500;
                    color: #6DD400;
                    display: flex;
                    font-style: italic;
                    margin: 5px 0 0 0;
                    text-decoration: underline;
                }
            }
            
        }
    }

}

.img-box-root{
    padding: 0; margin:0; position: relative; background: #FFFFFF; border: 1px solid rgba(232, 232, 232, 0.63); box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60); border-radius: 6px; display: flex; flex-direction: column;
    .img-thumb{
        padding: 0; margin:0; display: flex;
        .img-upload { width: 100%; height: 286px; object-fit: cover; border-radius: 6px 6px 0 0; }
    }
}

.remove-div{
    padding: 0; margin:0; position: relative;
    .btn.btn-remove { width: 100%; font-weight: 700; font-size: 16px; line-height: 24px; color: #E90000; text-align: center; display: flex; min-height: 40px; align-items: center; justify-content: center; text-transform: uppercase; background-color: transparent;
    }
}

/* End of edit profile */

/*  subscriptions-card-root  */

.subscriptions-card-root{ padding: 0; margin:0; position: relative;

    .subscriptions-row{
        padding: 20px 30px 20px 10px; position: relative; display: flex; flex-wrap: wrap; min-height: 130px;
        background: #FFFFFF; border: 1px solid rgba(232, 232, 232, 0.5); box-shadow: 0 4px 14px 1px rgba(234,239,248,0.60); border-radius: 4px; margin: 0px 0 20px 0;
        display: flex; align-items: center;  transition: all 0.8s;
        p{ padding: 0; margin:0 0 5px 0; font-weight: 400; font-size: 20px; color: rgba(114,114,114,0.40); letter-spacing: -0.1px; }
        h4 { padding: 0; margin:0; font-weight: 500; font-size: 32px; color: #424242; letter-spacing: -0.16px; }
        .icon-box { display: flex; justify-content: center; align-items: center; }
        .plr-0{ padding-left: 0px; padding-right: 0px; }
        .img-subscription { width: 60px; margin: 0 auto; }
        .border-right1 { border-right: 1px solid #e3e3e3; margin-right: 30px; }

        .column1{ flex: 0 0 10%; max-width: 10%; }
        .column4 { flex: 0 0 40%; max-width: 40%; display: flex; justify-content: flex-end; flex-direction: column; align-items: flex-end; text-align: right; }

        &.free-subscriptions-plan { background-image: linear-gradient(144deg, #232323 0%, #353535 100%); border-radius: 4px;
            p{ color: rgba(255,255,255,0.60); }
            h4 { color: #FFFFFF; }
            .border-right1 { border-right: 1px solid rgba(255, 255, 255, 0.5);  }
        }

        .btn-update-now-div { position: absolute; bottom: -24px; right: 30px; }
        .btn.btn-update { background: #2A42E1; border: 2px solid #642BDE; border-radius: 26px; min-height: 52px; font-weight: 700; font-size: 22px; color: #FFFFFF; letter-spacing: 0; text-align: center; min-width: 240px; transition: all 0.8s;
            &:hover, &:focus, &:active{
                background: #2A42E1;
                transform: translateY(-2px);
                box-shadow: 0 5px 15px 5px rgba(42, 66, 225, 0.2);
            }
        }
        
        &.premium-subscriptions-plan{
            padding: 20px 30px 50px 10px;
            &:hover, &:focus, &:active{
                box-shadow: 0 6px 18px 2px rgba(0, 0, 0, 0.05);
            }
        }

    }

}

/*  End of subscriptions-card-root  */

.footer-step-plan{
    .btn-previous { width: 100%; max-width: 240px; }
}

/*  Successful Plan  */

.common-box.plan-event-action-box{
    .icon-plan-event { padding: 15px; margin: 0 auto 10px auto; display: flex; justify-content: center; 
        .img-check-plan { width: 120px; }
    }    
    .heading-box { 
        h3 { color: #424242; }
        h3::before { background-color: #6DD400; }
    }
    .content-box { 
        p {  font-size: 20px; color: #727272; margin: 0 auto 30px auto; max-width: 650px; } 
    }
}

/* End of Successful Plan  */


.empty-stats-card-root{ padding: 0; margin: 0; position:relative; 
    .empty-stats-image-div { padding: 0; margin: 40px auto 60px auto; position: relative; text-align: center; display: flex; justify-content: center; }
    h3 { padding: 0; margin: 0 0 15px 0; font-weight: 500; font-size: 32px; color: #424242; letter-spacing: -0.16px; text-align: center; }
    p { padding: 0; margin: 0 0 15px 0; font-size: 24px; font-weight: 400; color: rgba(114, 114, 114, 0.6); text-align: center; line-height: 38px; }
    .empty-stats-content-div { max-width: 700px; margin: 20px auto 0 auto; position: relative; }
    .btn-row-empty { padding: 0; margin: 30px auto 20px auto; text-align: center; }
}

.authntication-section .step-content-inner .registration-box .step-content .footer-step.bg-white .container-1000 {
    max-width: 1100px;
}



@media (min-width: 1025px) {
    .notifiaction-txt{ display: none; }
}

@media (min-width: 1025px) and (max-width: 1290px) {
 
}

@media (min-width: 1025px) and (max-width: 1500px) {

    .dropdown.dropdown-dot{
        .dropdown-menu{
            transform: translate3d(0px, 34px, 0px) !important;
        }
    }

    .add-plus-div { bottom: 40px; right: 40px; }

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    header .header-div .width80 { width: 300px; max-width: 100%; }

    /* header */
    .dropdown.drop-left.dropdown-custom-top {
        background: $blue-color;margin: 0 0 10px 0; display: block;    min-height: auto;
    }

    .title-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .nav-details-right { display: flex;flex-direction: column; 
        margin: 15px 0 0 0;
        .dropdown-menu{
            &:before{ display: none; }
            &.show {
                box-shadow: none;
                li{padding-left: 0px !important;}
            }
        }
        .notification-dropdown-group{
            .btn.btn-default{ display: flex; align-items: center;    padding: 15px 15px;}
            span.notifiaction-txt { margin: 0 0 0 10px; color: #fff; font-weight: 500; }
            span.count-round {top: 12px;left: 26px;}
            .notification-box {
                .notification-body {
                    h5{ text-align: left; }
                    .div-notification-list-row {
                        .notif-desc {
                            text-align: left;
                        }
                    }
                }
            }
        } 
        .user-drop-down {
            margin-left: 0;
            .dropdown-custom-top {
                .btn.dropdown-toggle {
                    padding: 10px 10px 8px 10px;
                    &::after{
                        bottom: 20px;
                    }
                }
            }
        }
      
    }
    /* End header */

    .data-table-root {
        .table-custom {
            .width-25 {
                width: 25%;
                min-width: 165px;
            }
        }
        
    }
    
    .grid-30{ flex: 0 0 100%; max-width: 100%; }
    .grid-50{ flex: 0 0 100%; max-width: 100%; }
    .grid-70{ flex: 0 0 100%; max-width: 100%; }

    .card-view-list-root{
        .top-row-div{
            .grid-50{ flex: 0 0 50%; max-width: 50%; }
        }
    }

    .event-view-main-root { margin: 10px 0 30px 0; }

    .tab-view-root {
        .top-list-nav-tabs {
            .nav.nav-tabs {
                flex-wrap: nowrap; white-space: nowrap; overflow-x: auto;
                li{ min-width: auto; display: inline-block; margin: 0 30px 0 0;
                    a{ font-size: 14px; line-height: 20px; }
                }
            }
        }
    }
    
    .add-plus-div { bottom: 10px; right: 10px; }
    .btn-round.btn-plus{ height: 48px; width: 48px; 
        i.material-icons{ font-size: 32px; }
    }

    .dropdown-general {
        &.dropdown-dot {
            .dropdown-menu {
                right: auto;
                left: 0px !important;
                transform: translate3d(-190px, 34px, 0px) !important;
            }
        }
    }
    
    .event-view-number-top {
        p {
            text-align: center;
            margin: 0 0 20px 0;
            display: block;
            width: 100%;
        }
    }
    
    .img-full-calendar{
        margin: 0 0 20px 0;
    }

    .data-table-root.full-table-root{
        span.date-span { width: 100%; display: block;     margin: 0 0 3px 0; }
        span.v-line-span { display: none; }
        span.time-span { width: 100%; display: block; }
    }
    
    /* modal */

    .modal-common {
        .common-box {
            .event-time-view {
                padding: 25px 20px 20px 20px;
                p{ font-size: 18px; }
                h2{ font-size: 24px; line-height: 36px; }
            }
        }
        .modal-footer2 {
            padding: 15px 15px 15px 15px; flex-wrap: wrap;
        }
        .modal-footer4 {
            padding: 0px 15px 0px 15px; flex-wrap: wrap;
        }
    }

    .btn-complete{ padding: 6px 30px; min-height: 46px; font-size: 18px; min-width: 150px; }
    .btn-previous{ padding: 6px 30px; min-height: 46px; font-size: 18px; min-width: 150px; }
    .btn.btn-big-cancel{  min-height: 46px; font-size: 18px; min-width: 46px; }
    
    .modal-dialog { margin: 2rem .5rem; }

    .safety-image-group {
        .safety-select-box {
            .img-fluid {
                max-width: 65px;
                height: auto;
            }
        }
    }

    .status-span.status-big-span { padding: 6px 20px; min-height: auto; font-size: 16px; }
    
    /* End of modal */

    .note-div { padding: 0px 0 20px 0; min-height: auto; 
        p { font-size: 16px; line-height: 24px; }
    }
    .invite-box-root { overflow-x: scroll; }

    .common-forms-root {
        label { font-size: 16px; margin-bottom: 10px; }
        .form-control { font-size: 16px; padding: 10px 15px; min-height: 50px; height: auto; }
    }

    /* connection */

    .connection-card {
        .top-card-box { padding: 10px 15px; flex-wrap: wrap; 
            .img-user-thumb { min-width: 60px;
                .img-user { height: 60px; width: 60px; }
            }
            .details-user{
                width: calc(100% - 60px); padding: 0 0 0 15px;
            }
            .details-right { 
                width: 100%; align-items: flex-start; padding: 10px 0 0px 75px;
                p{  margin: 0px 0 5px 0;line-height: 18px; }
                .status-action{ justify-content: flex-start; }
            }
        }
    }

    /* End of connection */

    /* Search */

    .page-header {
        .connection-right {
            flex-direction: column;
            .search-div{ margin-bottom: 10px; 
                .search-box{
                    .form-search{  width: 100%; padding-right: 40px; padding-left: 15px; 
                        &::-webkit-input-placeholder { color: $text-grey;}
                        &::-moz-placeholder { color: $text-grey;}
                        &:-ms-input-placeholder { color: $text-grey;}
                        &:-moz-placeholder { color: $text-grey;}      
                    }
                    .icon-search{ display: flex; }
                    .icon-search-cancel{ display: none; }
                    &.full-width-input{
                        .icon-search{ display: flex !important; }
                        .icon-search-cancel{ display: none !important; }
                    }
                }
                
            }
            .btn.btn-primary.btn-primary2 { width: 100%; }
        }
    }
    
    /* End of Search */

    .common-details-box {
        padding: 40px 15px;
        .profile-user-view-box {
            align-items: flex-start;    padding: 0 0 30px 0;
            .user-profile-img {
                padding: 0 15px 0 0;
                .img-user {
                    width: 70px;
                    height: 70px;
                }
            }
            .user-content-details { padding: 5px 0 0 0;
                h3 { font-size: 24px; margin: 0 0 5px 0; }
                .verify-user-label {
                    p { font-size: 16px; }
                    .img-verfied { margin: 0 5px 0 0; width: 30px; }
                }
            }
        }
        
        .details-view-middle {
            padding: 30px 0 10px 0;
            .row-view {
                .label-div {
                    flex: 0 0 100%;
                    h4{ font-size: 20px;margin: 0 0 0px 0; }
                }
                .details-fill-view{
                    flex: 0 0 100%; flex-direction: column;
                    p{ font-size: 20px; margin: 0 0 0px 0;    width: 100%; }
                    .label-span{ width: 100%; text-align: left; font-size: 14px; }
                }
                .span-breack {
                    display: inline-block;
                }
            }
        }

    }

    .status-action-footer {
        display: flex; padding: 20px 0px 20px 0px; border-top: 1px solid rgba(114, 114, 114, 0.2); width: 100%;
        .btn-complete { padding: 6px 30px; min-height: 46px; font-size: 18px; min-width: 150px;  }
    }
    
    /* Manage Cards */

    .common-forms-root {
        .submit-div-row {
            .btn.btn-primary {
                min-width: 150px;
            }
        }
    }    

    /* End of Manage Cards */

    /* faq */

    .accordion-faq {
        .accordion {
            .card { margin-bottom: 10px;
                .show {
                    .card-body {
                        padding: 10px 15px 10px 15px;
                        p { font-size: 16px; line-height: 28px; }
                    }
                }
                .card-header { 
                    h2 { line-height: 45px;
                        .btn-link {
                            padding: 12px 15px 12px 60px; font-size: 16px;
                            i { width: 50px; }
                        }
                    }
                }
                .card-body {
                    padding: 10px 15px 10px 15px;
                    p { font-size: 16px; line-height: 28px; }
                }
            }
        }
    }
    
    /* End of faq */

   
    /*  subscriptions-card-root  */

    .subscriptions-card-root {
        .subscriptions-row {
            padding: 15px 15px 20px 10px; min-height: 100px;
            p { font-size: 14px; margin: 0 0 0px 0; }
            h4 { font-size: 20px; }
            .img-subscription{ width: 45px; margin: 0; }
            .btn.btn-update { min-height: 46px; }
            .border-right1 { margin-right: 20px; }
            .column1 { flex: 0 0 45px; max-width: 45px; }
            .column2 { flex: 0 0 calc(100% - 45px); max-width: calc(100% - 45px); }
            .border-right1 { margin-right: 0; padding-left: 10px; border-right: none !important; }
            .column3 { flex: 0 0 45%; max-width: 45%; margin: 15px 0 0 0; }
            .column4 { flex: 0 0 55%; max-width: 55%; margin: 15px 0 0 0; }
            .btn-update-now-div { position: absolute; bottom: -20px; right: 15px; }
            .btn.btn-update { min-height: 42px; font-size: 16px; min-width: auto; padding: 5px 30px; }
            &.premium-subscriptions-plan { padding: 20px 15px 40px 10px; }
        }
    }
    
    .footer-step-plan .btn-previous { width: auto; max-width: none; min-width: auto; }

    .common-box.plan-event-action-box {
        .icon-plan-event {
            .img-check-plan { width: 80px; }
        }
        .heading-box {
            h3 { font-size: 20px; }
        }
        .content-box {
            p {
                font-size: 16px;
            }
        }
    }
    

    /* End of subscriptions-card-root  */

    .empty-stats-card-root {
        .empty-stats-image-div {
            margin: 20px auto 40px auto;
            .empty-record { width: 200px; }
        }
        h3 { margin: 0 0 10px 0; font-size: 24px; }
        p { margin: 0 0 10px 0; font-size: 18px; line-height: 28px; }
    }
    
    /* update css */

    .card-view-main{ margin: 0 0 30px 0; }

    /* End of update css */


}

@media (max-width: 360px) {

    .btn.btn-primary{ padding: 6px 20px; min-height: 46px; font-size: 16px; min-width: 120px; }
    .btn-previous{ padding: 6px 20px; min-height: 46px; font-size: 16px; min-width: 120px; }

    .common-forms-root {
        .submit-div-row {
            .btn-previous { padding: 5px 20px; }
            .btn.btn-primary { padding: 5px 20px; min-width: auto; }
        }
    }
    

}

@media (min-width: 768px) and (max-width: 1024px) { 

    /* header */

    header {
        .header-div {
            .logo-div {
                .logo_link {
                    width: 200px;
                }
            }
        }
    }

    .dropdown.drop-left.dropdown-custom-top {
        background: $blue-color;margin: 0 0 10px 0; display: block;    min-height: auto;
    }
    .nav-details-right { display: flex;flex-direction: column; 
        margin: 15px 0 0 0;
        .dropdown-menu{
            &:before{ display: none; }
            &.show {
                box-shadow: none;
                li{padding-left: 0px !important;}
            }
        }
        .notification-dropdown-group{
            .btn.btn-default{ display: flex; align-items: center;    padding: 15px 15px;}
            span.notifiaction-txt { margin: 0 0 0 10px; color: #fff; font-weight: 500; }
            span.count-round {top: 12px;left: 26px;}
            .notification-box {
                .notification-body {
                    h5{ text-align: left; }
                    .div-notification-list-row {
                        .notif-desc {
                            text-align: left;
                        }
                    }
                }
            }
        } 
        .user-drop-down {
            margin-left: 0;
            .dropdown-custom-top {
                .btn.dropdown-toggle {
                    padding: 10px 10px 8px 10px;
                    &::after{
                        bottom: 20px;
                    }
                }
            }
        }
      
    }
    /* End header */

    .card-view-main {
        .card-view-div {
            padding: 10px 15px; min-height: 82px;
            .icon-view{ width: 50px; height: 50px; }
            .details-view-right{ padding: 0 0px 0 10px; width: calc(100% - 50px); 
                .btn-view{ font-size: 14px; }
            }
        }
    }

    .data-table-root {
        .table-custom {
            .width-25 {
                width: 25%;
                min-width: 165px;
            }
        }
    }
    
    .grid-30{ flex: 0 0 40%; max-width: 40%; }
    .grid-50{ flex: 0 0 100%; max-width: 100%; }
    .grid-70{ flex: 0 0 60%; max-width: 60%; }

    .card-view-list-root{
        .top-row-div{
            .grid-50{ flex: 0 0 50%; max-width: 50%; }
        }
    }

    .add-plus-div { bottom: 10px; right: 10px; }
    .btn-round.btn-plus{ height: 48px; width: 48px; 
        i.material-icons{ font-size: 32px; }
    }

    .dropdown-general {
        &.dropdown-dot {
            .dropdown-menu {
                right: auto;
                left: 0px !important;
                transform: translate3d(-190px, 34px, 0px) !important;
            }
        }
    }

    .data-table-root.full-table-root{
        span.date-span { width: 100%; display: block;     margin: 0 0 3px 0; }
        span.v-line-span { display: none; }
        span.time-span { width: 100%; display: block; }
    }

    .invite-box-root { overflow-x: scroll; }

    .event-view-number-top {
        p { text-align: left; margin: 0 0 20px 0; display: block; width: 100%; }
    }
    
    /* connection */

    .connection-card {
        .top-card-box { padding: 10px 15px; flex-wrap: wrap; 
            .img-user-thumb { min-width: 40px;
                .img-user { height: 40px; width: 40px; }
            }
            .details-user{
                width: calc(60% - 40px); padding: 0 0 0 10px;
                .date-span { display: block; }
                span.v-line-span{ display: none; }
                .time-span { display: block; }
            }
            .details-right { 
                width: 40%;
                p{  margin: 0px 0 5px 0;line-height: 18px; }
                
            }
        }
    }

    .btn-cancel-block {
        .fe-custom { margin: 0 5px 0 0; }
    }

    .modal-big-width {
        .modal-dialog {
            max-width: 700px;
        }
    }
    
    .common-details-box {
        
        .profile-user-view-box {
            align-items: flex-start; padding: 0 0 30px 0;
            .user-profile-img {
                padding: 0 15px 0 0;
                .img-user {
                    width: 70px;
                    height: 70px;
                }
            }
            .user-content-details { padding: 5px 0 0 0;
                h3 { font-size: 24px; margin: 0 0 5px 0; }
                .verify-user-label {
                    p { font-size: 16px; }
                    .img-verfied { margin: 0 5px 0 0; width: 30px; }
                }
            }
        }
        
        .details-view-middle {
            padding: 30px 0 10px 0;
            .row-view {
                .label-div {
                    h4{ font-size: 20px; line-height: 24px; }
                }
                .details-fill-view{
                    p{ font-size: 20px;  width: 100%;     line-height: 24px; }
                    .label-span{ font-size: 14px; }
                }
                .span-breack {
                    display: inline-block;
                }
            }
        }

    }

    .btn.btn-big-cancel{  min-height: 46px; font-size: 18px; min-width: 46px; }

    .status-action-footer {
        display: flex; padding: 20px 0px 20px 0px; border-top: 1px solid rgba(114, 114, 114, 0.2); width: 100%;
        .btn-complete { padding: 6px 30px; min-height: 46px; font-size: 18px; min-width: 150px;  }
    }

    /* End of connection */

    /* faq */

    .accordion-faq {
        .accordion {
            .card { margin-bottom: 10px;
                .show {
                    .card-body {
                        padding: 10px 15px 10px 15px;
                        p { font-size: 16px; line-height: 28px; }
                    }
                }
                .card-header { 
                    h2 { line-height: 45px;
                        .btn-link {
                            padding: 12px 15px 12px 60px; font-size: 16px;
                            i { width: 50px; }
                        }
                    }
                }
                .card-body {
                    padding: 10px 15px 10px 15px;
                    p { font-size: 16px; line-height: 28px; }
                }
            }
        }
    }
    
    /* End of faq */


    /*  subscriptions-card-root  */

    .subscriptions-card-root {
        .subscriptions-row {
            padding: 20px 15px 20px 10px; min-height: 100px;
            p { font-size: 16px; }
            h4 { font-size: 22px; }
            .img-subscription{ width: 45px; }
            .btn.btn-update { min-height: 46px; }
            .border-right1 { margin-right: 20px; }
            &.premium-subscriptions-plan { padding: 20px 30px 40px 10px; }
        }
    }

    /* End of subscriptions-card-root  */

    .authntication-section .step-content-inner .registration-box {
        background-color: transparent;
        padding: 0;
    }
    
}

@media (min-width: 1024px) and (max-width: 1366px) {

}