@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
/* colors */
/* End of colors */
.pad-0 {
  padding-bottom: 0 !important;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox label {
  font-size: 18px;
  color: #424242;
  letter-spacing: 0;
  padding-left: 5px;
}

.custom-checkbox .custom-control-label::after {
  position: absolute;
  top: 2px;
  left: -2px;
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  height: 18px;
  width: 18px;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  height: 18px;
  width: 18px;
  border-radius: 0;
}

.custom-checkbox .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0054D5;
}

/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #FAFBFD;
  font-family: 'Muli', sans-serif !important;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1200px;
}

.container-1000 {
  max-width: 1000px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.main-middle-area-dash {
  padding: 80px 0 10px 0;
  min-height: 100vh;
  margin: 0;
  position: relative;
  background-color: #FAFBFD;
  background: url(../images/background-shape.svg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

.position-initial {
  position: initial;
}

.mlr-8 {
  margin-right: -8px;
  margin-left: -8px;
}

.plr-8 {
  padding-right: 8px;
  padding-left: 8px;
}

/*  Button Group */
.btn.btn-blue {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #0054D5;
  background-color: #0054D5;
  color: white;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 24px;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
  border: 1px solid #0C406B;
  background-color: #0C406B;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-link {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-size: 18px;
  color: #0054D5;
  letter-spacing: -0.26px;
  text-align: center;
  border: none;
}

.btn-link:hover, .btn-link:focus {
  color: #4d089a;
}

.btn-link:hover::after, .btn-link:focus::after {
  background-color: #0C406B;
  width: 100%;
}

.btn-common {
  padding: 5px 20px;
  margin: 0;
  background: #0054D5;
  border: 1px solid #0054D5;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  border-radius: 0px;
  line-height: 24px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-common:hover, .btn-common:focus {
  color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 #2251d333;
          box-shadow: 0 5px 15px 0 #2251d333;
}

.btn-common2 {
  padding: 5px 20px;
  margin: 0;
  background: #0054D5;
  border: 1px solid #0054D5;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  border-radius: 10px;
  line-height: 24px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-common2:hover, .btn-common2:focus {
  color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 #2251d333;
          box-shadow: 0 5px 15px 0 #2251d333;
}

/* End of Button Group */
.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #0054D5;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #0C406B;
}

.return-to-top:hover i {
  color: white;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.select2-container .select2-dropdown {
  margin-top: -10px;
}

.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #222221;
  border-radius: 0px;
  min-height: 50px;
  color: #979797;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #285B89;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 18px;
  left: 10px;
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: '\e92e';
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #0054D5;
}

.select2-results__option {
  padding: 10px;
}

/* single select */
.selectbox-inline {
  position: relative;
}

.selectbox-inline .select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid transparent !important;
  border-radius: 0px;
  min-height: 40px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  border-radius: 10px;
}

.selectbox-inline .select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.selectbox-inline .select-custom2.select-common span.select2-selection.select2-selection--single {
  border: 1px solid #C7C7C7 !important;
  height: 58px;
  background-color: transparent;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  padding: 12px 15px;
}

.max-input-div {
  position: relative;
}

.max-input-div .select-box.select-custom2 {
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: #fafbfd;
  width: 105px;
  border-right: 1px solid #C7C7C7;
  min-height: 56px;
}

.max-input-div .form-control {
  padding-left: 125px !important;
  padding-right: 90px !important;
}

/* End of select **/
/* end of select2 */
/* CUSTOM ICON */
.mail-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Email-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='mail-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='mail-(2)' transform='translate(3.000000, 5.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Cpath d='M2.66666667,0 L24,0 C25.4666667,0 26.6666667,1.2 26.6666667,2.66666667 L26.6666667,18.6666667 C26.6666667,20.1333333 25.4666667,21.3333333 24,21.3333333 L2.66666667,21.3333333 C1.2,21.3333333 0,20.1333333 0,18.6666667 L0,2.66666667 C0,1.2 1.2,0 2.66666667,0 Z' id='Path'%3E%3C/path%3E%3Cpolyline id='Path' points='26.6666667 2.66666667 13.3333333 12 0 2.66666667'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.user-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Euser-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='user-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='user-(2)' transform='translate(5.000000, 4.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Cpath d='M21.3333333,24 L21.3333333,21.3333333 C21.3333333,18.3878147 18.9455187,16 16,16 L5.33333333,16 C2.38781467,16 0,18.3878147 0,21.3333333 L0,24' id='Path'%3E%3C/path%3E%3Ccircle id='Oval' cx='10.6666667' cy='5.33333333' r='5.33333333'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.phone-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ephone-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='phone-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='smartphone-(3)' transform='translate(7.000000, 3.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Crect id='Rectangle' x='0' y='0' width='18.6666667' height='26.6666667' rx='2.66666667'%3E%3C/rect%3E%3Cline x1='9.33333333' y1='21.3333333' x2='9.34666667' y2='21.3333333' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.key-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ekey-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='key-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='key' transform='translate(3.000000, 3.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Cpath d='M25.3333333,0 L22.6666667,2.66666667 M12.52,12.8133333 C14.3932868,14.6616838 15.1325308,17.372094 14.4570876,19.9155915 C13.7816444,22.459089 11.795089,24.4456444 9.25159149,25.1210876 C6.70809402,25.7965308 3.99768385,25.0572868 2.14933333,23.184 C-0.629796203,20.3065548 -0.590050742,15.7327116 2.23866378,12.9039971 C5.0673783,10.0752826 9.6412215,10.0355371 12.5186667,12.8146667 L12.52,12.8133333 Z M12.52,12.8133333 L18,7.33333333 M18,7.33333333 L22,11.3333333 L26.6666667,6.66666667 L22.6666667,2.66666667 M18,7.33333333 L22.6666667,2.66666667' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.eye-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eeye-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='eye-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='eye-(1)' transform='translate(1.000000, 5.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Cpath d='M0,10.6666667 C0,10.6666667 5.33333333,0 14.6666667,0 C24,0 29.3333333,10.6666667 29.3333333,10.6666667 C29.3333333,10.6666667 24,21.3333333 14.6666667,21.3333333 C5.33333333,21.3333333 0,10.6666667 0,10.6666667 Z' id='Path'%3E%3C/path%3E%3Ccircle id='Oval' cx='14.6666667' cy='10.6666667' r='4'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.eye-off-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eeye-off-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='eye-off-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='eye-off' transform='translate(1.000000, 2.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Cpath d='M22.5866667,22.5866667 C20.3074533,24.324003 17.5321433,25.2864842 14.6666667,25.3333333 C5.33333333,25.3333333 0,14.6666667 0,14.6666667 C1.65851986,11.5758609 3.95884727,8.87547654 6.74666667,6.74666667 M11.8666667,4.32 C12.7844431,4.10517268 13.7240854,3.99778498 14.6666667,3.99996642 C24,3.99996642 29.3333333,14.6666667 29.3333333,14.6666667 C28.5239728,16.1808098 27.5587406,17.6063148 26.4533333,18.92 M17.4933333,17.4933333 C16.4961569,18.5634836 14.9943704,19.0039956 13.5771258,18.6420562 C12.1598812,18.2801168 11.0532165,17.1734521 10.6912771,15.7562075 C10.3293377,14.3389629 10.7698497,12.8371764 11.84,11.84' id='Shape'%3E%3C/path%3E%3Cline x1='0' y1='0' x2='29.3333333' y2='29.3333333' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.down-arrow-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edown-arrow-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='down-arrow-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='mail-(2)' transform='translate(7.000000, 11.000000)'%3E%3C/g%3E%3Cpolyline id='Path' stroke='%23000000' stroke-width='0.6' stroke-linecap='round' stroke-linejoin='round' points='25 11 16 20.3333333 7 11'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.file-text-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efile-text-icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='file-text-icon'%3E%3Crect id='Rectangle' fill-opacity='0.406140734' fill='%23D2E9F6' x='0' y='0' width='32' height='32' rx='16'%3E%3C/rect%3E%3Cg id='file-text' transform='translate(6.000000, 3.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.6'%3E%3Cpath d='M13.3333333,0 L2.66666667,0 C1.19390733,0 0,1.19390733 0,2.66666667 L0,24 C0,25.4727593 1.19390733,26.6666667 2.66666667,26.6666667 L18.6666667,26.6666667 C20.139426,26.6666667 21.3333333,25.4727593 21.3333333,24 L21.3333333,8 L13.3333333,0 Z' id='Path'%3E%3C/path%3E%3Cpolyline id='Path' points='13.3333333 0 13.3333333 8 21.3333333 8'%3E%3C/polyline%3E%3Cline x1='16' y1='14.6666667' x2='5.33333333' y2='14.6666667' id='Path'%3E%3C/line%3E%3Cline x1='16' y1='20' x2='5.33333333' y2='20' id='Path'%3E%3C/line%3E%3Cpolyline id='Path' points='8 9.33333333 6.66666667 9.33333333 5.33333333 9.33333333'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* END OF CUSTOM ICON */
/* form-group */
.form-control {
  padding: 10px 25px;
  font-size: 20px;
  color: #727272;
}

.form-control::-webkit-input-placeholder {
  color: #727272;
}

.form-control::-moz-placeholder {
  color: #727272;
}

.form-control:-ms-input-placeholder {
  color: #727272;
}

.form-control:-moz-placeholder {
  color: #727272;
}

.form-control:focus {
  border-color: #0054D5 !important;
  color: #181818;
}

.form-control:disabled {
  background-color: #F2F2F2 !important;
  border: 1px solid #C7C7C7 !important;
  color: #424242 !important;
  font-weight: 400 !important;
  cursor: not-allowed;
}

.radio-common .custom-radio {
  margin-right: 3rem;
  min-height: 20px;
  line-height: 24px;
  padding-left: 1.7rem;
}

.radio-common .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: #0054D5;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  border: 2px solid #D7D7D7;
  top: 6px;
  left: 2px;
}

.radio-common .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgba(199, 199, 199, 0.8);
  border: 1px solid rgba(114, 114, 114, 0.4);
}

.radio-common label.custom-control-label {
  margin-bottom: 0px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #727272 !important;
  letter-spacing: 0;
}

.radio-common label.custom-control-label::after {
  background-color: rgba(199, 199, 199, 0.8);
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 100%;
}

.input-box-effect {
  position: relative;
  width: 100%;
  z-index: 0;
  display: block;
}

.input-box-effect .input-box-label {
  position: relative;
  margin: auto;
  width: 100%;
}

.input-box-effect .input-box-label .label-text {
  width: auto;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  font-size: 16px;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(52, 51, 51, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  padding: 17px 0 0 12px;
  margin: 0;
  -webkit-transition: .2s all;
  transition: .2s all;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  z-index: 2;
}

.input-box-effect .input-box-label .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #666;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.input-box-effect .input-box-label .form-input {
  -webkit-appearance: none;
  letter-spacing: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
  min-height: 50px;
  color: #002411;
  margin: 0 0 4px 0;
  border-color: #343333;
  position: relative;
  z-index: 1;
  font-weight: 300;
  height: 56px;
  padding: 20px 12px 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  line-height: 1.33333;
  -webkit-transition-duration: 334ms;
          transition-duration: 334ms;
  transition-property: border-color, box-shadow, -webkit-box-shadow;
  border-radius: 0px;
  border: 1px solid rgba(52, 51, 51, 0.4);
  width: 100%;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.input-box-effect .input-box-label .form-input:not(:placeholder-shown) + span {
  color: #343333;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  margin: 0;
  font-size: 12px;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  width: 100%;
}

.input-box-effect .input-box-label .form-input:focus {
  background-color: #fff;
  outline: none;
  border-color: #343333;
  -webkit-box-shadow: 0 0 0 0px rgba(52, 51, 51, 0);
  box-shadow: 0 0 0 0px rgba(52, 51, 51, 0);
}

.input-box-effect .input-box-label .form-input:focus + span {
  color: #343333;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  margin: 0;
  font-size: 12px;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  width: 100%;
}

.input-box-effect span.icon-group {
  position: absolute;
  right: 0;
  top: 0;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
  z-index: 3;
}

.input-box-effect .password-view-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input-box-effect .form-input.textarea-form {
  height: 150px;
  resize: none;
  padding-top: 24px;
}

.input-box-effect .input-box-label .form-input.textarea-form:focus + span {
  background-color: #fff;
  width: calc(100% - 68px);
  margin: 0px 0 0 0px;
  left: 12px;
  top: 17px;
  padding: 0;
}

.input-box-effect.form-group-icon .input-box-label .form-input {
  padding-right: 56px;
}

.form-group-file .custom-file-label {
  letter-spacing: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
  min-height: 50px;
  color: rgba(52, 51, 51, 0.5);
  margin: 0 0 4px 0;
  border-color: rgba(52, 51, 51, 0.41);
  z-index: 1;
  font-weight: 400;
  height: 56px;
  padding: 17px 12px 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  line-height: 1.33333;
  -webkit-transition-duration: 334ms;
          transition-duration: 334ms;
  transition-property: border-color, box-shadow, -webkit-box-shadow;
  border-radius: 0px;
  border: 1px solid rgba(52, 51, 51, 0.4);
  width: 100%;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding-right: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group-file .custom-file-label::after {
  content: "Upload file";
  background-color: rgba(210, 233, 246, 0.29);
  border-left: 1px solid rgba(52, 51, 51, 0.2) !important;
  border-radius: 0 0 0 0;
  font-weight: 300;
  font-size: 16px;
  color: rgba(52, 51, 51, 0.5);
  letter-spacing: -0.23px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 150px;
}

.form-group-file .custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Upload file";
}

.center-combination-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 56px;
}

.center-combination-text p {
  font-weight: 400;
  font-size: 16px;
  color: #343333;
  letter-spacing: -0.23px;
  margin: 0;
  text-align: center;
}

/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div.scrollUp {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background-color: #0054D5;
}

header .fixed_top.header-div .top-nav1 {
  padding: 10px 0 20px 0;
}

header .fixed_top.header-div .ullist-inline li .nav-link {
  color: #00A685;
}

header .fixed_top.header-div .scroll-logo {
  display: block;
}

header .header-div {
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 34px 0 rgba(210, 233, 246, 0.28);
          box-shadow: 0 2px 34px 0 rgba(210, 233, 246, 0.28);
  position: absolute;
  z-index: 9999;
  width: 100%;
  min-height: 80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

header .header-div .nav-center-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 80px;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 165px;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(39, 164, 248, 0.3);
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 35px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li.nav-item.dropdown.btn-user-dropdown {
  margin: 0;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 35px 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: #343333;
  padding: 10px 0px 3px 0;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
}

header .header-div .ullist-inline li .nav-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: #343333;
}

header .header-div .ullist-inline li.active .nav-link {
  color: #343333;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline li.nav-link.btn-user {
  height: 48px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #003E89;
  margin: -10px 0 0 0;
}

header .header-div .ullist-inline li.nav-link.btn-user::before {
  display: none;
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 190px;
  border-radius: 0px;
  line-height: 24px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 0px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart {
  padding: 5px 10px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart span.count-span {
  background-color: #003E89;
  margin: 0 0 0 10px;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: -1px;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

/*  header  */
.mt-0 {
  margin-top: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-35 {
  margin-bottom: 30px !important;
}

.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ptb-40 {
  padding-top: 30px !important;
  padding-bottom: 25px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.hide-nav {
  display: none !important;
}

.nav-details-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*   colors   */
  /*   End of colors   */
}

.nav-details-right .dropdown-menu {
  background: #ffffff;
  -webkit-box-shadow: 0 6px 10px 0 rgba(151, 151, 151, 0.5);
          box-shadow: 0 6px 10px 0 rgba(151, 151, 151, 0.5);
  border-radius: 0 0 6px 6px;
  right: 0;
  margin-top: 15px;
  left: auto !important;
  min-width: 220px;
  border: 0px solid #F1F1F1;
}

.nav-details-right .dropdown-menu:before {
  content: "";
  border-top: 10px solid #ffffff00;
  border-right: 7px solid #ddd0;
  border-bottom: 10px solid #F1F1F1;
  border-left: 7px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

.nav-details-right .dropdown-menu a.dropdown-item {
  font-weight: 400;
  padding: 0px 30px;
  font-size: 16px;
  color: #343333;
  letter-spacing: 0;
  line-height: 40px;
}

.nav-details-right .dropdown-menu a.dropdown-item:hover, .nav-details-right .dropdown-menu a.dropdown-item:focus, .nav-details-right .dropdown-menu a.dropdown-item:active {
  color: #0054D5;
  text-decoration: none;
  background-color: #f8f9fa;
}

.nav-details-right .dropdown-menu a.dropdown-item.active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.nav-details-right .dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-details-right .dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.nav-details-right .dropdown-menu ul li.logout-li a {
  font-weight: 500;
  padding: 5px 30px;
}

.nav-details-right .dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  padding: 0;
  margin: 10px 30px 5px 30px;
}

.nav-details-right .user-drop-down {
  margin-left: 10px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
  border-top: 5px solid rgba(34, 34, 33, 0.5);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  right: 20px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #D8D8D8;
  font-size: 24px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile {
  padding: 0 0 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info {
  padding: 0 30px 0 10px;
  text-align: left;
  min-width: 120px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
  font-weight: 600;
  margin: 0 0 0px 0;
  font-size: 14px;
  color: #343333;
  letter-spacing: 0;
  line-height: 20px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img {
  margin: 0 0px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .user-top-image {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/* End of header  */
/* End of header */
/* banner */
.top-general-form-area {
  min-height: calc(100vh - 100px);
}

.general-form-section {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #FAFBFD;
  background: url(../images/background-shape.svg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.general-form-section .general-form-inner {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.general-form-section .general-form-inner .general-form-box-header {
  padding: 30px 20px 30px 20px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 130px;
}

.general-form-section .general-form-inner .general-form-box-header .logo-box-div {
  margin: 0 auto 0px auto;
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
}

.general-form-section .general-form-inner .general-form-box-header .logo-box-div a {
  display: inline-block;
}

.general-form-section .general-form-inner .general-form-box-header .img-logo-v {
  width: 82px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.general-form-section .general-form-inner .general-form-btn {
  padding-top: 0px;
}

.general-form-box-footer {
  padding: 30px 0;
}

.general-form-box-footer .link-box p {
  font-weight: 300;
  font-size: 18px;
  color: #343333;
  letter-spacing: -0.26px;
  text-align: center;
}

.general-form-box-card {
  background-color: #ffffff;
  min-height: 200px;
  padding: 40px 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 12px 44px 0 rgba(210, 233, 246, 0.48);
          box-shadow: 0 12px 44px 0 rgba(210, 233, 246, 0.48);
  max-width: 500px;
  margin: 0 auto 10px auto;
}

.general-form-box-card .general-form-title-header {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-form-box-card .general-form-title-header h2 {
  font-weight: 700;
  font-size: 14px;
  color: #343333;
  letter-spacing: -0.2px;
  line-height: 22px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.general-form-box-card .link-row {
  padding: 10px 0 25px 0;
  display: block;
}

.content-box-div {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.content-box-div .icon-div {
  text-align: center;
  margin: 0 auto 10px auto;
  position: relative;
}

.content-box-div h2 {
  font-weight: 700;
  font-size: 20px;
  color: #343333;
  letter-spacing: -0.31px;
  text-align: center;
  line-height: 28px;
  margin: 0 0 20px 0;
}

.content-box-div p {
  font-weight: 300;
  font-size: 16px;
  color: #343333;
  letter-spacing: -0.23px;
  text-align: center;
  line-height: 26px;
  margin: 0 auto 20px auto;
}

.content-box-div .span-block {
  display: block;
}

.content-box-div .text-italic {
  font-style: italic;
  font-weight: 700;
  max-width: 360px;
  margin: 0 auto;
}

.font-bold {
  font-weight: 700;
}

.back-to-home-div {
  position: absolute;
  left: 0px;
  top: 20px;
  z-index: 3;
}

.back-to-home-div .title-inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.back-to-home-div .title-inner-row .h3-title {
  padding: 0;
  margin: 0;
  line-height: 26px;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 300;
  color: #343333;
}

.back-to-home-div .btn.btn-link.link-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0 0 0;
  min-width: 40px;
  font-size: 22px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-to-home-div .btn.btn-link.link-back:hover {
  color: #0054D5;
}

.back-to-home-div .btn.btn-link.link-back:hover h3 {
  color: inherit;
}

.back-to-home-div .icon-custom {
  margin: 0 20px 0 0;
}

/* Inner Pages  **/
/* loader */
.loader-box {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-box.show-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader-box .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-box .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0054D5;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-box .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

/* End of loader */
/*  START INNER SCREEN  **/
.page-header {
  padding: 40px 0 20px 0;
  margin: 0;
  position: relative;
}

.page-header h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 28px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: rgba(52, 51, 51, 0.7);
  letter-spacing: 0;
}

.page-header .search-div {
  padding: 0px 0;
  margin: 0;
}

.page-header .search-box {
  padding: 0px 0;
  margin: 0;
  position: relative;
}

.page-header .search-box .form-search {
  font-weight: 400;
  font-size: 14px;
  color: #343333;
  letter-spacing: 0;
  padding: 5px 40px 5px 15px;
  min-height: 40px;
  margin: 0 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #FFFFFF;
  border: 1px solid rgba(210, 233, 246, 0.41);
  border-radius: 5px;
}

.page-header .search-box .form-search::-webkit-input-placeholder {
  color: rgba(52, 51, 51, 0.3);
}

.page-header .search-box .form-search::-moz-placeholder {
  color: rgba(52, 51, 51, 0.3);
}

.page-header .search-box .form-search:-ms-input-placeholder {
  color: rgba(52, 51, 51, 0.3);
}

.page-header .search-box .form-search:-moz-placeholder {
  color: rgba(52, 51, 51, 0.3);
}

.page-header .search-box .icon-search {
  font-size: 18px;
  color: rgba(52, 51, 51, 0.8);
}

.page-header .search-box .btn-search {
  position: absolute;
  top: 1px;
  right: 0px;
  outline: none;
  padding: 8px 10px 6px 10px;
  min-height: 38px;
  width: 40px;
  background: rgba(210, 233, 246, 0.41);
  border: 0px solid rgba(210, 233, 246, 0.41);
  border-radius: 0px 5px 5px 0px;
}

.btn-row-group {
  margin: 0 0 10px 0;
}

.dash-list-main-root {
  padding: 0;
  margin: 0 0 60px 0;
  position: relative;
}

.dash-list-group {
  background: #EFF7FC;
  border: 1px solid #D2E9F6;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.dash-list-group:hover {
  background: #ffffff;
}

.dash-list-group .row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.dash-list-group .title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-list-group .img-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
}

.dash-list-group .img-thumb .img-user-fluid {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100px;
}

.dash-list-group .user-info-text-div {
  padding: 0 0 0 20px;
  position: relative;
  margin: 0;
  width: calc(100% - 80px);
}

.dash-list-group .grid-dash-col {
  padding: 0 10px;
  margin: 0;
  position: relative;
}

.dash-list-group h3 {
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #343333;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 5px 0;
  display: block;
}

.dash-list-group p {
  font-weight: 400;
  font-size: 14px;
  color: #343333;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 0px 0;
  display: block;
}

.dash-list-group .one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dash-list-group .width-30 {
  width: 30%;
}

.dash-list-group .width-35 {
  width: 32%;
}

.dash-list-group .width-15 {
  width: 15%;
}

.dash-list-group .width-20 {
  width: 23%;
}

.dash-list-group .desc-div {
  padding: 0 20px 0 0;
}

.dash-list-group .status-span {
  font-weight: 900;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24);
  line-height: 16px;
  border-radius: 20px;
  padding: 4px 10px 3px 10px;
  display: inline-block;
  min-width: 49px;
}

.dash-list-group .status-span.new {
  background: #0054D5;
}

.dash-list-group .status-span.in-analysis {
  background: #FA9C3A;
}

.dash-list-group .status-span.completed {
  background: #74A848;
}

.dash-list-group .btn.btn-white-round {
  background: #FFFFFF;
  border: 1px solid #D2E9F6;
  -webkit-box-shadow: -10px 2px 14px 0 rgba(210, 233, 246, 0.44);
          box-shadow: -10px 2px 14px 0 rgba(210, 233, 246, 0.44);
  border-radius: 100px 0 0 100px;
  font-weight: 700;
  font-size: 16px;
  color: #0054D5;
  letter-spacing: -0.23px;
  min-height: 50px;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 5px 15px 5px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dash-list-group .btn.btn-white-round .custom-icon {
  font-size: 22px;
  margin: 2px 0 -2px 10px;
  display: inline-block;
  position: relative;
}

.dash-list-group .btn.btn-white-circle {
  background: #FFFFFF;
  border: 1px solid #D2E9F6;
  -webkit-box-shadow: -10px 2px 14px 0 rgba(210, 233, 246, 0.44);
          box-shadow: -10px 2px 14px 0 rgba(210, 233, 246, 0.44);
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  color: #0054D5;
  letter-spacing: -0.23px;
  min-height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px 5px 5px;
}

.dash-list-group .btn.btn-white-circle .custom-icon-edit {
  margin: -2px -1px 0 0;
}

.dash-list-group .fixed-right-center {
  position: relative;
  right: -21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dash-list-group .user-desc-text-div {
  padding: 0 20px;
}

/* download */
.download-file-progressbar {
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background: #ffffff;
  display: none;
  -webkit-box-shadow: 1px 0 0 0 rgba(200, 200, 200, 0.13);
          box-shadow: 1px 0 0 0 rgba(200, 200, 200, 0.13);
}

.download-file-progressbar .center-div {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 10px 30px 0 #D2E9F6;
          box-shadow: 1px 10px 30px 0 #D2E9F6;
}

.download-file-progressbar .center-div .content-area {
  display: inline-block;
  padding: 0 30px 2px 30px;
}

.download-file-progressbar .center-div .content-area p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #343333;
  text-align: left;
  line-height: 24px;
  font-weight: 300;
}

.download-file-progressbar .center-div .content-area .blue-txt {
  color: #0054D5;
  font-weight: 700;
}

.download-file-progressbar .center-div .cancel-btn-div {
  padding: 0;
  margin: 0 0;
  display: inline-block;
}

.download-file-progressbar .center-div .cancel-btn-div .cancel-btn {
  padding: 0;
  margin: 0;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(29, 97, 246, 0.1);
  border-radius: 100%;
  border: 1px solid transparent;
  color: #0054D5;
  font-size: 14px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.download-file-progressbar .center-div .progress {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #D2E9F6;
}

.download-file-progressbar .center-div .progress .progress-bar {
  background-color: #0054D5;
  border-radius: 0 2px 2px 0;
}

/* End of download */
/* modal  */
.modal-backdrop {
  z-index: 9999;
  background-color: #343333;
  opacity: .31;
}

.modal-backdrop.show {
  opacity: .31;
}

.modal {
  z-index: 99999;
}

.modal-common .modal-content {
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.common-text-box {
  padding: 40px 14px 30px 14px;
  margin: 0;
  position: relative;
  min-height: 260px;
}

.common-text-box .common-text-root {
  padding: 0;
  margin: 0 auto;
  position: relative;
  max-width: 400px;
}

.common-text-box .heading-box {
  padding: 10px 0 20px 0;
  margin: 0 auto 0px 0;
}

.common-text-box h3 {
  font-weight: 700;
  font-size: 22px;
  color: #343333;
  letter-spacing: -0.31px;
  text-align: center;
  line-height: 32px;
  padding: 0;
  margin: 0 0 20px 0;
}

.common-text-box p {
  font-weight: 300;
  font-size: 16px;
  color: #343333;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 10px 0;
  position: relative;
}

.common-text-box .progress {
  width: 100%;
  margin: 0 auto 20px 0;
  height: 10px;
  background-color: #fff;
  border: 2px solid #74A848;
  border-radius: 5px;
}

.common-text-box .progress .progress-bar {
  background-color: #74A848;
  background: #74A848;
  -webkit-box-shadow: -20px 0 0 0 rgba(116, 168, 72, 0.72), 20px 0 0 0 rgba(116, 168, 72, 0.48), inset -20px 0 0 0 #7FBA4E;
          box-shadow: -20px 0 0 0 rgba(116, 168, 72, 0.72), 20px 0 0 0 rgba(116, 168, 72, 0.48), inset -20px 0 0 0 #7FBA4E;
  border-radius: 5px;
  -webkit-animation: indeterminateAnimation 2s infinite linear;
          animation: indeterminateAnimation 2s infinite linear;
}

@-webkit-keyframes indeterminateAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(100% + 40%));
            transform: translateX(calc(100% + 40%));
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes indeterminateAnimation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(100% + 40%));
            transform: translateX(calc(100% + 40%));
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.common-text-box .icon-div {
  text-align: center;
  margin: 0 auto 10px auto;
  position: relative;
}

.common-text-box .icon-div .img-icon-fluid {
  width: 162px;
  height: 162px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* End of modal  */
/*  END OF INNER SCREEN  **/
/* Create a new project */
.title-inner-div .title-inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.title-inner-div .title-inner-row .h3-title {
  font-weight: 300;
  color: #343333;
}

.title-inner-div .btn.btn-link.link-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  min-width: 100px;
  font-size: 24px;
  color: #000;
}

.title-inner-div .btn.btn-link.link-back:hover {
  color: #0054D5;
}

.card-general-root-div {
  padding: 10px 0px 20px 0px;
  margin: 0;
  position: relative;
}

.card-general-form-div {
  padding: 0 0 0px 100px;
}

.card-general-form-div .grid-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.card-general-form-div .grid-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.card-general-form-div .card-general-top-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 320px);
}

.card-general-form-div .card-general-bottom-div {
  padding: 10px 0px 10px 0px;
  margin: 0;
  position: relative;
}

.card-general-form-div .card-general-bottom-div .general-form-btn {
  padding: 20px 0px 10px 0px;
  padding-left: 8px;
  margin: 0;
  position: relative;
}

.card-general-form-div .card-general-bottom-div .btn-submit-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* End of Create a new project */
/* Generate project */
.general-project-box-card-div {
  padding: 20px 0;
  margin: 0 0 0px 0;
  position: relative;
  min-height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-project-box-card-div .general-project-box-card-inner {
  width: 100%;
  display: block;
  max-width: 390px;
  margin: 0 auto;
}

.general-project-box-card-div .content-box-pro-div {
  padding: 0;
  margin: 0 0 60px 0;
  position: relative;
}

.general-project-box-card-div .content-box-pro-div .icon-div {
  text-align: center;
  margin: 0 auto 10px auto;
  position: relative;
}

.general-project-box-card-div .content-box-pro-div h2 {
  font-weight: 700;
  font-size: 20px;
  color: #343333;
  letter-spacing: -0.31px;
  text-align: center;
  line-height: 28px;
  margin: 0 0 20px 0;
}

.general-project-box-card-div .content-box-pro-div p {
  font-weight: 300;
  font-size: 16px;
  color: #343333;
  letter-spacing: -0.23px;
  text-align: center;
  line-height: 26px;
  margin: 0 auto 20px auto;
}

.general-project-box-card-div .content-box-pro-div .span-block {
  display: block;
}

.general-project-box-card-div .content-box-pro-div .text-italic {
  font-style: italic;
  font-weight: 700;
  max-width: 360px;
  margin: 0 auto;
}

/* End of generate project */
.download-link-row {
  padding: 20px 0 0 0;
  margin: 0px 0 20px 0;
  position: relative;
  display: block;
  width: 100%;
}

.download-link-row p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #343333;
  text-align: left;
  line-height: 24px;
  font-weight: 400;
}

.download-link-row .link-btn {
  color: #0054D5;
  font-weight: 700;
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  body.overflow-fixed {
    overflow-y: hidden;
  }
  header .header-div {
    min-height: 70px;
    background-color: #fff;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 190px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #0C406B;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #0054D5;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #0C406B;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #0054D5 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li.dropdown {
    position: relative;
  }
  header .header-div .ullist-inline li.dropdown::after {
    content: "\e92e";
    font-family: Feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    right: 15px;
    top: 16px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div .ullist-inline li.dropdown.show::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .dropdown-menu.show li {
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
  }
  header .header-div .dropdown-menu.show li a {
    font-size: 14px;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  /* header */
  .dropdown.drop-left.dropdown-custom-top {
    margin: 0 0 10px 0;
    display: block;
    min-height: auto;
  }
  .title-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px 0;
  }
  .nav-details-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 0;
  }
  .nav-details-right .dropdown-menu {
    background: #fafafa;
    border-radius: 0;
  }
  .nav-details-right .dropdown-menu:before {
    display: none;
  }
  .nav-details-right .dropdown-menu.show {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-details-right .dropdown-menu.show li {
    padding-left: 0px !important;
  }
  .nav-details-right .user-drop-down {
    margin-left: 0;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
    padding: 10px 10px 8px 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
    bottom: 20px;
  }
  /* End header */
  .position-fixed {
    overflow: hidden;
  }
  .banner-section .banner-div .content-banner {
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 25px 0;
    padding: 40px 0 !important;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .max-container-container {
    margin: 0 0 0 15px;
    position: relative;
    text-align: left;
    bottom: 0;
    padding: 0 0 20px 0;
    width: 100%;
  }
  .banner-section .banner-div .side-img-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .banner-section .banner-div .side-img-banner img.banner-img {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /********/
  .selectbox-inline .select-custom2 span.select2-selection.select2-selection--single {
    font-size: 16px;
  }
  .modal-common .modal-header .close {
    top: -24px;
    right: 0;
  }
  .modal-common .common-box {
    padding: 40px 0 20px 0;
  }
  .modal-common .common-box h3 {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
  .modal-common .common-box .verify-row {
    padding: 20px 20px 0px 20px;
  }
  .modal-common .common-box .content-box p {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 10px auto;
  }
  .modal-common .modal-footer {
    padding: 20px 20px 30px 20px;
  }
  /* General css */
  .btn-link {
    font-size: 16px;
  }
  .input-box-effect span.icon-group {
    width: 48px;
  }
  .input-box-effect span.icon-group .custom-icon {
    height: 24px;
    width: 24px;
  }
  .input-box-effect.form-group-icon .input-box-label .form-input {
    padding-right: 48px;
  }
  /* End of General css */
  .general-form-box-card {
    padding: 20px 20px;
  }
  .general-form-box-footer .link-box p {
    font-size: 16px;
  }
  .general-form-section .general-form-inner .general-back-header {
    padding: 5px 0px 30px 0px;
  }
  .general-form-section .general-form-inner .general-remove-logo {
    min-height: auto;
  }
  .general-form-section .general-form-inner .general-remove-logo .back-to-home-div {
    margin: 0 0 0px 0;
  }
  .back-to-home-div {
    position: relative;
    left: auto;
    top: auto;
    margin: 0 0 30px 0;
  }
  .back-to-home-div .title-inner-row .h3-title {
    font-size: 16px;
  }
  .back-to-home-div .btn.btn-link.link-back {
    margin: 0px 0 0 0;
    min-width: 30px;
    font-size: 20px;
  }
  .back-to-home-div .icon-custom {
    margin: 0 15px 0 0;
  }
  /*  START INNER SCREEN  **/
  .dash-list-group {
    padding: 15px 10px;
  }
  .dash-list-group .grid-dash-col {
    padding: 0 5px;
  }
  .dash-list-group .width-30 {
    width: 100%;
  }
  .dash-list-group .width-35 {
    width: 100%;
  }
  .dash-list-group .width-15 {
    width: 100%;
  }
  .dash-list-group .width-20 {
    width: 100%;
  }
  .dash-list-group .title-row {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .dash-list-group .img-thumb {
    width: 60px;
  }
  .dash-list-group .img-thumb .img-user-fluid {
    height: 60px;
    width: 60px;
  }
  .dash-list-group .user-info-text-div {
    padding: 0 0 0 10px;
    width: calc(100% - 60px);
  }
  .dash-list-group .user-desc-text-div {
    width: 100%;
    padding: 0;
    margin: 0 0 15px 0;
  }
  .dash-list-group .fixed-right-center {
    position: relative;
    right: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .dash-list-group .btn.btn-white-round {
    border-radius: 100px;
  }
  /* download */
  .download-file-progressbar .center-div .content-area p {
    font-size: 13px;
    line-height: 25px;
  }
  .download-file-progressbar .center-div .progress {
    height: 2px;
  }
  /* End of download */
  /*  END OF INNER SCREEN  **/
  /* Create a new project */
  .title-inner-div .btn.btn-link.link-back {
    min-width: 30px;
    font-size: 20px;
  }
  .title-inner-div .title-inner-row .h3-title {
    font-size: 18px;
    line-height: 23px;
  }
  .form-group-file .custom-file-label::after {
    font-size: 14px;
    min-width: 100px;
  }
  .card-general-form-div {
    padding: 0;
  }
  .card-general-form-div .grid-45 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .card-general-form-div .grid-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .card-general-form-div .card-general-top-div {
    min-height: calc(100vh - 335px);
  }
  .card-general-form-div .card-general-bottom-div .general-form-btn {
    padding: 20px 0px 10px 0px;
    padding-left: 0;
  }
  /* End of Create a new project */
  /* generate project */
  .general-project-box-card-div .content-box-pro-div {
    margin: 0 0 40px 0;
  }
  /* End of generate project */
  .download-link-row {
    padding: 10px 0 0px 0;
    margin: 0 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .heading-div h2 {
    font-size: 28px;
  }
  .heading-div p {
    font-size: 16px;
  }
  header .header-div {
    min-height: 70px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 200px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #0C406B;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #0054D5;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #0C406B;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #0054D5 !important;
  }
  header .header-div .ullist-inline li.dropdown::after {
    content: "\e92e";
    font-family: Feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: absolute;
    right: 15px;
    top: 17px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div .ullist-inline li.dropdown.show::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  /* header */
  header .header-div .logo-div .logo_link {
    width: 200px;
  }
  .dropdown.drop-left.dropdown-custom-top {
    margin: 0 0 10px 0;
    display: block;
    min-height: auto;
  }
  .nav-details-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 0;
  }
  .nav-details-right .dropdown-menu {
    background: #fafafa;
    border-radius: 0;
  }
  .nav-details-right .dropdown-menu:before {
    display: none;
  }
  .nav-details-right .dropdown-menu.show {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-details-right .dropdown-menu.show li {
    padding-left: 0px !important;
  }
  .nav-details-right .user-drop-down {
    margin-left: 0;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
    padding: 10px 10px 8px 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
    bottom: 20px;
  }
  /* End header */
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .prag-breack {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .prag-breack .span-block {
    margin: 0 0 5px 0;
    display: inline;
  }
  .banner-section .banner-div .content-banner {
    z-index: 2;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 25px 0;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .max-container-container {
    margin: 0 0 0 15px;
  }
  .banner-section .banner-div .side-img-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  .modal-common .modal-dialog {
    max-width: 700px;
  }
  /* add css */
  /* End of add css */
  /*  START INNER SCREEN  **/
  .dash-list-group {
    padding: 15px 10px;
  }
  .dash-list-group .grid-dash-col {
    padding: 0 5px;
  }
  .dash-list-group .width-30 {
    width: 100%;
  }
  .dash-list-group .width-35 {
    width: 100%;
  }
  .dash-list-group .width-15 {
    width: 100%;
  }
  .dash-list-group .width-20 {
    width: 100%;
  }
  .dash-list-group .title-row {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .dash-list-group .img-thumb {
    width: 60px;
  }
  .dash-list-group .img-thumb .img-user-fluid {
    height: 60px;
    width: 60px;
  }
  .dash-list-group .user-info-text-div {
    padding: 0 0 0 10px;
    width: calc(100% - 60px);
  }
  .dash-list-group .user-desc-text-div {
    width: 100%;
    padding: 0;
    margin: 0 0 15px 0;
  }
  .dash-list-group .fixed-right-center {
    position: relative;
    right: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .dash-list-group .btn.btn-white-round {
    border-radius: 100px;
  }
  /*  END OF INNER SCREEN  **/
  /* Create a new project */
  .title-inner-div .btn.btn-link.link-back {
    min-width: 30px;
    font-size: 20px;
  }
  .title-inner-div .title-inner-row .h3-title {
    font-size: 18px;
    line-height: 23px;
  }
  .form-group-file .custom-file-label::after {
    font-size: 14px;
    min-width: 100px;
  }
  .card-general-form-div {
    padding: 0;
  }
  /* End of Create a new project */
}
/*# sourceMappingURL=style.css.map */